.additionalProduct .desc .info-col-wrap {
	row-gap: 24px;
}
.additionalProduct .desc .info-col-wrap .row {
	align-items: flex-end;
	row-gap: 8px;
}
.additionalProduct .desc .info-col-wrap .txt-sub {
	line-height: 1;
}
.additionalProduct .desc .info-col-wrap .txt-title .flag:first-child {
	margin-right: 3px;
}
.additionalProduct .desc .info-col-wrap .txt-title .txt-sub {
	margin-top: 5px;
}
.additionalProduct .desc .info-col-wrap .txt-desc > span:not(.txt-sub) {
	font-size: 16px;
}
.additionalProduct .desc .btn-group .btn.btn-md {
	border-color: var(--dt-gray06);
	background-color: var(--dt-gray06);
}