.page-wrapper.changeBillMethod .container .section__cont {
	padding: 76px 0 66px;
}

.changeBillMethod .input-col-wrap {
	row-gap: 8px;
}

.addr-wrap {
	max-height: calc(100vh - 260px);
	overflow-y: auto;
}
.addr-wrap .addr-box {
	padding: 16px 0 17px;
	border-bottom: 1px solid var(--dt-gray17);
}
.addr-wrap .addr-box .zip-code {
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
	color: var(--dt-primary);
	margin-bottom: 4px;
}
.addr-wrap .addr-box .addr-main {
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
	color: var(--dt-gray16);
	margin-bottom: 2px;
}
.addr-wrap .addr-box .addr-detail {
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	color: var(--dt-gray11);
}
.addr-wrap .addr-box.card.solid {
	background-color: transparent;
	border-bottom: unset;
	padding: 72px 0;
}