.mobilePaySetting .section__cont:has(.tabnav__wrap) {
	padding-top: 56px;
	padding-bottom: 40px;
}
.mobilePaySetting .info-col-wrap:has(.info-price) .col {
	row-gap: 10px;
	padding-top: 4px;
}
.mobilePaySetting .info-col-wrap:has(.info-price) .col > .txt-title {
	padding-bottom: 10px;
	line-height: 120%;
}
.mobilePaySetting .info-col-wrap:has(.info-price) .col .row .txt-title, .mobilePaySetting .info-col-wrap:has(.info-price) .col .row .txt-desc {
	color: var(--dt-gray14);
	font-size: 14px;
	font-weight: 500;
}
.mobilePaySetting .info-col-wrap:has(.info-price) .col + .info-price.total-last {
	margin-top: 8px;
	padding-top: 20px;
}
.mobilePaySetting .info-col-wrap:has(.info-price) .col + .info-price.total-last .txt-price {
	line-height: 120%;
}
.mobilePaySetting .info-col-wrap:has(.info-price) .col + .info-price.total-last:after {
	bottom: unset;
	top: 0;
	width: 100%;
}
.mobilePaySetting .info-col-wrap:has(.info-price) .btn-group {
	margin-top: 8px;
}
.mobilePaySetting .info-col-wrap .col {
	row-gap: 16px;
}
.mobilePaySetting .info-col-wrap .txt-title {
	color: var(--dt-gray16);
	font-size: 16px;
	font-weight: 600;
	line-height: 150%;
}
.mobilePaySetting .info-col-wrap .btn-group {
	margin-top: 20px;
}
.mobilePaySetting .info-col-wrap .btn-group .btn {
	background-color: var(--dt-gray06);
	border: 1px solid var(--dt-gray06);
}
.mobilePaySetting .info-col-wrap .btn-group .btn .txt {
	color: var(--dt-gray11);
	font-size: 14px;
}
.mobilePaySetting .plan-wrap.line {
	margin-top: 4px;
}
.mobilePaySetting .plan-wrap.line .list-plan {
	padding-top: 20px;
}
.mobilePaySetting .plan-wrap.line .list-plan .txt-title {
	color: var(--dt-gray16);
}
.mobilePaySetting .plan-wrap.line .list-plan .txt-price {
	text-align: right;
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
}
.mobilePaySetting .plan-wrap.line .txt-sub .img-box {
	width: 24px;
	height: 24px;
}
.mobilePaySetting .plan-wrap.line .txt-sub .img-box img {
	width: 18px;
	transform: translateY(-1px);
}
.mobilePaySetting .al-baseline {
	align-items: baseline;
	justify-content: center;
	column-gap: 12px;
	padding-top: 48px;
}
.mobilePaySetting .al-baseline .ico32 {
	min-width: 32px;
	height: 32px;
}
.mobilePaySetting .al-baseline .input-control {
	position: relative;
	width: calc((100% - 32px) / 2);
	padding-top: 0;
}
.mobilePaySetting .al-baseline .input-control .input-label {
	display: inline-block;
	width: 100%;
}
.mobilePaySetting .al-baseline .input-control .input-row {
	margin: 0 auto;
	justify-content: center;
	column-gap: 0;
}
.mobilePaySetting .al-baseline .input-control.error input:valid {
	color: var(--dt-error);
}
.mobilePaySetting .al-baseline .input-control .txt-sub {
	margin-top: 8px;
}
.mobilePaySetting .list-payment {
	margin-top: 20px;
}
.mobilePaySetting .list-payment .card.solid {
	row-gap: 8px;
	padding: 18px 24px 22px;
}
.mobilePaySetting .list-payment .card.solid .row {
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 8px;
}
.mobilePaySetting .list-payment .card.solid .row.detail .txt-title {
	color: var(--dt-gray11);
}
.mobilePaySetting .list-payment .card.solid .txt-title {
	font-size: 14px;
	font-weight: 500;
	color: var(--dt-gray16);
}
.mobilePaySetting .list-payment .card.solid .txt-date {
	color: var(--dt-gray11);
	font-size: 12px;
	font-weight: 500;
	line-height: 150%;
	padding-bottom: 4px;
}
.mobilePaySetting .list-payment .card.solid .txt-desc {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	column-gap: 2px;
	margin-left: auto;
	color: var(--dt-gray16);
	font-size: 14px;
	font-weight: 500;
}
.mobilePaySetting .list-payment .card.solid .txt-desc .img-box {
	width: 16px;
	min-width: 16px;
	height: 16px;
}
.mobilePaySetting .list-payment .card.solid .color-prim {
	font-weight: 600;
}
.mobilePaySetting .segment__wrap {
	margin-top: 10px;
}
.mobilePaySetting .segment-content .list-payment {
	margin-top: 2px;
}

@media screen and (max-width: 359px) {
	.al-baseline {
		column-gap: 8px;
	}
}
@media screen and (max-width: 269px) {
	.al-baseline {
		flex-wrap: wrap;
	}
	.al-baseline .input-control {
		width: calc(100% - 44px);
	}
	.al-baseline .input-control .input-row {
		max-width: 100%;
	}
	.al-baseline .input-control .input-field {
		max-width: 100%;
	}
	.al-baseline .input-control.error .bubble-box.topright {
		transform: translateX(-50%);
		right: unset;
		left: 50%;
	}
	.al-baseline .input-control.error .bubble-box.topright .bubble-box-arrow {
		right: unset;
		left: 50%;
		margin-left: -8px;
	}
}