.roamingAdditional .section__cont:not(.counsel) {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding-top: 72px;
}
.roamingAdditional .card-group.flex-column {
	gap: 16px;
}
.roamingAdditional .cont__wrap-service.rmDetail .con__tit-box {
	flex-direction: column;
	margin-bottom: 20px;
	gap: 12px;
}
.roamingAdditional .cont__wrap-service.rmDetail .con__tit-box .text-box {
	text-align: left;
	gap: 6px;
}
.roamingAdditional .cont__wrap-service.rmDetail .con__tit-box .text-box .tit {
	font-size: 22px;
	font-weight: 700;
}
.roamingAdditional .cont__wrap-service.rmDetail .con__tit-box .text-box .txt {
	line-height: 1.5;
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform {
	box-shadow: none;
	border-radius: 16px;
	padding: 28px 20px;
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .card-body {
	gap: 28px;
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .item {
	flex-direction: column;
	gap: 6px;
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .item .btn-group .btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 14px 4px;
	gap: 4px;
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .tit {
	font-size: 18px;
	font-weight: 700;
	color: var(--dt-gray14);
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .announceMent {
	margin-bottom: 12px;
	gap: 12px;
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .announceMent .card .card-body {
	gap: 8px;
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .announcePhone {
	margin-bottom: 12px;
	gap: 12px;
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .announcePhone .tit span {
	font-size: 18px;
	font-weight: 700;
	color: var(--dt-gray14);
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .announcePhone .phoneList {
	grid-template-columns: repeat(1, 1fr);
	gap: 12px;
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .announcePhone .phoneList > .card {
	padding: 14px 20px;
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .announcePhone .phoneList > .card .card-body {
	gap: 8px;
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .announcePhone .phoneList > .card .card-body .text {
	align-items: flex-start;
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .announcePhone .phoneList > .card .card-body .tit {
	font-size: 16px;
	color: var(--dt-gray16);
}
.roamingAdditional .cont__wrap-service.rmDetail .card.rmInform .announcePhone .phoneList > .card .card-footer .close {
	width: 24px;
	height: 24px;
	background-image: url(../images/icon/ic-card_close_small_line.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

body:has(.cont__wrap-service.rmDetail) {
	background-color: var(--dt-gray05);
}