.signUpConfirmation .plan-wrap .btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	gap: 4px;
	/* sizing */
}
.signUpConfirmation .plan-wrap .btn .txt {
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
}
.signUpConfirmation .plan-wrap .btn:active {
	box-shadow: inset 0px 0px 0px 100px rgba(0, 0, 0, 0.12);
}
.signUpConfirmation .plan-wrap .btn.is-disabled {
	opacity: 0.6;
}
.signUpConfirmation .plan-wrap .btn.line {
	background-color: transparent;
}
.signUpConfirmation .plan-wrap .btn.line.btn-sec {
	border: 1px solid var(--dt-gray13);
}
.signUpConfirmation .plan-wrap .btn.line.btn-sec .txt {
	color: var(--dt-gray13);
}
.signUpConfirmation .plan-wrap .btn.btn-md {
	padding: 8px 12px;
}
.signUpConfirmation .plan-wrap .btn.btn-md .txt {
	font-size: 12px;
}