@import '../base/mixin';

.radio-group { //
	display: inline-flex;
	position: relative;
	min-width: 20px;
	min-height: 20px;
	padding-left: 20px;
	color: #000;
	text-align: left;
	cursor: pointer;
	align-items: center;

	.ic-radio { // 라디오아이콘 : 디폴트
		overflow: hidden;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		border: 2px solid var(--dt-gray09);
		transition: border-color 0.15s ease-in-out;
		align-self: baseline;
		& + span {display:inline-block;margin-left:8px;}
	}
	input[type=radio] {
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		background: transparent;
		border: 0;
		outline: 0;
		opacity: 0;
		&:checked ~ .radio-label{
			.ic-radio {
				border-color:var(--dt-primary);
				&::before {
					content: '';
					position:absolute;
					top:50%;
					left:50%;
					margin-top:-5px;
					margin-left:-5px;
					display:block;
					width:10px;
					height:10px;
					background-color:var(--dt-primary);
					border-radius:50%;
				}
			}
		}
		&:disabled ~ .radio-label,
		&:checked:disabled ~ .radio-label {
			pointer-events: none;
    		opacity: 0.36;
		}
		// &:checked:disabled ~ .radio-label {
		// 	pointer-events: none;
    	// 	opacity: 0.36;
		// }
	}
	.radio-label {
		display: inline-block;
		vertical-align: baseline;
		font-size: 14px;
	}

}