/* doFont218 3.0 */
@font-face {
	font-family: 'doFont218';
	src:  url('../icon-set/doFont218.eot?od0ook');
	src:  url('../icon-set/doFont218.eot?od0ook#iefix') format('embedded-opentype'),
		url('../icon-set/doFont218.ttf?od0ook') format('truetype'),
		url('../icon-set/doFont218.woff?od0ook') format('woff'),
		url('../icon-set/doFont218.woff2?od0ook') format('woff'),
		url('../icon-set/doFont218.svg?od0ook#doFont218') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="di-"], [class*=" di-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'doFont218' !important;	
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.di-play-fill:before {
	content: "\e992";
}
.di-stop-fill:before {
	content: "\e993";
}
.di-pause-fill:before {
	content: "\e9a0";
}
.di-record-fill:before {
	content: "\e9a1";
}
.di-quote:before {
	content: "\e9af";
}
.di-translate:before {
	content: "\e9b3";
}
.di-wechat:before {
	content: "\e9cc";
}
.di-chat-left-dots:before {
	content: "\e9cd";
}
.di-chat-left-dots-fill:before {
	content: "\e9ce";
}
.di-chat-left-quote:before {
	content: "\e9cf";
}
.di-chat-right-quote:before {
	content: "\e9d0";
}
.di-chat-right-dots:before {
	content: "\e9d1";
}
.di-chat-right-dots-fill:before {
	content: "\e9d2";
}
.di-megaphone:before {
	content: "\e9d3";
}
.di-megaphone-fill:before {
	content: "\e9d4";
}
.di-mortarboard:before {
	content: "\e9d5";
}
.di-mortarboard-fill:before {
	content: "\e9d6";
}
.di-wrench-adjustable-circle:before {
	content: "\e9d7";
}
.di-stoplights:before {
	content: "\e927";
}
.di-stoplights-fill:before {
	content: "\e928";
}
.di-hospital:before {
	content: "\e9d8";
}
.di-building:before {
	content: "\e9d9";
}
.di-train-freight-front:before {
	content: "\e9da";
}
.di-train-lightrail-front:before {
	content: "\e9db";
}
.di-truck-front:before {
	content: "\e9dc";
}
.di-bus-front:before {
	content: "\e9dd";
}
.di-car-front:before {
	content: "\e9de";
}
.di-taxi-front:before {
	content: "\e9df";
}
.di-ev-front:before {
	content: "\e9e0";
}
.di-fuel-pump:before {
	content: "\e9e1";
}
.di-fuel-pump-diesel:before {
	content: "\e9e2";
}
.di-ev-station:before {
	content: "\e9e3";
}
.di-p-circle:before {
	content: "\e9e4";
}
.di-p-square:before {
	content: "\e9e5";
}
.di-signpost:before {
	content: "\e9e6";
}
.di-signpost-split:before {
	content: "\e9e7";
}
.di-geo:before {
	content: "\e9e8";
}
.di-geo-fill:before {
	content: "\e9e9";
}
.di-pin-map-fill:before {
	content: "\e9ea";
}
.di-ic_home_n:before {
	content: "\e900";
}
.di-ic_back_n:before {
	content: "\e901";
}
.di-ic_refresh_n:before {
	content: "\e902";
}
.di-ic_counsel_n:before {
	content: "\e903";
}
.di-ic_end_n:before {
	content: "\e905";
}
.di-ic_callEnd_n:before {
	content: "\e907";
}
.di-ic_ivr_n:before {
	content: "\e909";
}
.di-ic_voice_n:before {
	content: "\e91a";
}
.di-ic_kakao_n:before {
	content: "\e91b";
}
.di-ic_chat0_n:before {
	content: "\e91c";
}
.di-ic_chat1_n:before {
	content: "\e91d";
}
.di-ic_chat2_n:before {
	content: "\e92a";
}
.di-ic_viewLarge_n:before {
	content: "\e93e";
}
.di-ic_viewSmall_n:before {
	content: "\e941";
}
.di-kakao .path1:before {
	content: "\e90d";
	color: rgb(250, 225, 0);
}
.di-kakao .path2:before {
	content: "\e90e";
	margin-left: -1em;
	color: rgb(60, 29, 30);
}
.di-kakao .path3:before {
	content: "\e90f";
	margin-left: -1em;
	color: rgb(250, 225, 0);
}
.di-kakao .path4:before {
	content: "\e910";
	margin-left: -1em;
	color: rgb(250, 225, 0);
}
.di-repair:before {
	content: "\e7f6";
}
.di-siren:before {
	content: "\e841";
}
.di-hand-index:before {
	content: "\e921";
}
.di-hand-index-thumb:before {
	content: "\e922";
}
.di-phone:before {
	content: "\e923";
}
.di-phone-landscape:before {
	content: "\e924";
}
.di-phone-flip:before {
	content: "\e925";
}
.di-phone-vibrate:before {
	content: "\e926";
}
.di-upc:before {
	content: "\e92b";
}
.di-upc-scan:before {
	content: "\e92c";
}
.di-qr-code:before {
	content: "\e92d";
}
.di-qr-code-scan:before {
	content: "\e92e";
}
.di-receipt-cutoff:before {
	content: "\e9eb";
}
.di-chat-dots:before {
	content: "\e92f";
}
.di-chat-dots-fill:before {
	content: "\e930";
}
.di-arrow-r:before {
	content: "\e931";
}
.di-arrow-r-short:before {
	content: "\e932";
}
.di-arrow-right-circle:before {
	content: "\e933";
}
.di-arrow-right-circle-fill:before {
	content: "\e934";
}
.di-exclamation-diamond:before {
	content: "\e938";
}
.di-exclamation-triangle:before {
	content: "\e939";
}
.di-info:before {
	content: "\e88e";
}
.di-help:before {
	content: "\e888";
}
.di-error:before {
	content: "\e000";
}
.di-info_outline:before {
	content: "\e88f";
}
.di-help_outline:before {
	content: "\e8fe";
}
.di-error_outline:before {
	content: "\e002";
}
.di-circle-with-plus:before {
	content: "\e93a";
}
.di-circle-with-minus:before {
	content: "\e93b";
}
.di-circle-with-check:before {
	content: "\e86c";
}
.di-circle-with-cross:before {
	content: "\e93c";
}
.di-circle-plus:before {
	content: "\e040";
}
.di-circle-minus:before {
	content: "\e041";
}
.di-circle-check:before {
	content: "\e042";
}
.di-circle-cross:before {
	content: "\e043";
}
.di-plus:before {
	content: "\e114";
}
.di-minus:before {
	content: "\e115";
}
.di-check:before {
	content: "\e116";
}
.di-cross:before {
	content: "\e117";
}
.di-check1:before {
	content: "\e940";
}
.di-cross1:before {
	content: "\e970";
}
.di-arrow-left:before {
	content: "\e094";
}
.di-arrow-right:before {
	content: "\e095";
}
.di-arrow-up:before {
	content: "\e096";
}
.di-arrow-down:before {
	content: "\e097";
}
.di-chevron-down:before {
	content: "\e942";
}
.di-chevron-left:before {
	content: "\e943";
}
.di-chevron-right:before {
	content: "\e944";
}
.di-chevron-up:before {
	content: "\e945";
}
.di-chevrons-down:before {
	content: "\e946";
}
.di-chevrons-left:before {
	content: "\e947";
}
.di-chevrons-right:before {
	content: "\e948";
}
.di-chevrons-up:before {
	content: "\e949";
}
.di-chevron-down1:before {
	content: "\e94a";
}
.di-chevron-left1:before {
	content: "\e94b";
}
.di-chevron-right1:before {
	content: "\e94c";
}
.di-chevron-up1:before {
	content: "\e94d";
}
.di-chevron-small-down:before {
	content: "\e94e";
}
.di-chevron-small-left:before {
	content: "\e94f";
}
.di-chevron-small-right:before {
	content: "\e950";
}
.di-chevron-small-up:before {
	content: "\e951";
}
.di-chevron-thin-down:before {
	content: "\e952";
}
.di-chevron-thin-left:before {
	content: "\e953";
}
.di-chevron-thin-right:before {
	content: "\e954";
}
.di-chevron-thin-up:before {
	content: "\e955";
}
.di-chevron-with-circle-down:before {
	content: "\e956";
}
.di-chevron-with-circle-left:before {
	content: "\e957";
}
.di-chevron-with-circle-right:before {
	content: "\e958";
}
.di-chevron-with-circle-up:before {
	content: "\e959";
}
.di-triangle-down:before {
	content: "\e95b";
}
.di-triangle-left:before {
	content: "\e95c";
}
.di-triangle-right:before {
	content: "\e95d";
}
.di-triangle-up:before {
	content: "\e95e";
}
.di-apple:before {
	content: "\eabe";
}
.di-android:before {
	content: "\eabd";
}
.di-dot-single:before {
	content: "\e969";
}
.di-dot-single1:before {
	content: "\e96b";
}
.di-dot-single2:before {
	content: "\e96d";
}
.di-primitive-square:before {
	content: "\f053";
}
.di-primitive-square1:before {
	content: "\f054";
}
.di-primitive-square2:before {
	content: "\f055";
}
.di-play-circle:before {
	content: "\ea15";
}
.di-pause-circle:before {
	content: "\ea16";
}
.di-stop-circle:before {
	content: "\ea17";
}
.di-backward-circle:before {
	content: "\ea1a";
}
.di-forward-circle:before {
	content: "\ea1b";
}
.di-previous-circle:before {
	content: "\ea18";
}
.di-next-circle:before {
	content: "\ea19";
}
.di-play:before {
	content: "\ea1c";
}
.di-pause:before {
	content: "\ea1d";
}
.di-stop:before {
	content: "\ea1e";
}
.di-backward:before {
	content: "\ea1f";
}
.di-forward:before {
	content: "\ea20";
}
.di-first:before {
	content: "\ea21";
}
.di-last:before {
	content: "\ea22";
}
.di-previous:before {
	content: "\ea23";
}
.di-next:before {
	content: "\ea24";
}
.di-play_outline:before {
	content: "\e90b";
}
.di-pause_outline:before {
	content: "\e90c";
}
.di-fast-rewind_outline:before {
	content: "\e967";
}
.di-fast-forward_outline:before {
	content: "\e968";
}
.di-skip-back_outline:before {
	content: "\e96a";
}
.di-skip-forward_outline:before {
	content: "\e96c";
}
.di-search:before {
	content: "\e976";
}
.di-zoom-out:before {
	content: "\e977";
}
.di-zoom-in:before {
	content: "\e978";
}
.di-globe:before {
	content: "\e994";
}
.di-facebook:before {
	content: "\e995";
}
.di-instagram:before {
	content: "\e996";
}
.di-twitter:before {
	content: "\e997";
}
.di-youtube:before {
	content: "\e999";
}
.di-cast:before {
	content: "\e9a8";
}
.di-voicemail:before {
	content: "\e9ae";
}
.di-bluetooth:before {
	content: "\e9b0";
}
.di-corner-down-left1:before {
	content: "\e9c6";
}
.di-delete:before {
	content: "\e9c7";
}
.di-mouse-pointer:before {
	content: "\f954";
}
.di-send:before {
	content: "\f955";
}
.di-crop:before {
	content: "\f951";
}
.di-type:before {
	content: "\e9ca";
}
.di-copy:before {
	content: "\f950";
}
.di-maximize:before {
	content: "\e9c8";
}
.di-minimize:before {
	content: "\e9c9";
}
.di-filter:before {
	content: "\e908";
}
.di-bookmark:before {
	content: "\e911";
}
.di-calendar:before {
	content: "\f947";
}
.di-mail:before {
	content: "\f956";
}
.di-home1:before {
	content: "\e9c4";
}
.di-map:before {
	content: "\e9a4";
}
.di-map-pin:before {
	content: "\e9a5";
}
.di-compass:before {
	content: "\e9a3";
}
.di-image:before {
	content: "\e9a2";
}
.di-save:before {
	content: "\f946";
}
.di-edit:before {
	content: "\f949";
}
.di-trash:before {
	content: "\f948";
}
.di-clipboard:before {
	content: "\f957";
}
.di-file:before {
	content: "\f958";
}
.di-file-text:before {
	content: "\e912";
}
.di-folder:before {
	content: "\f940";
}
.di-folder-minus:before {
	content: "\f941";
}
.di-folder-plus:before {
	content: "\f942";
}
.di-inbox:before {
	content: "\f945";
}
.di-shopping-bag:before {
	content: "\f943";
}
.di-archive:before {
	content: "\f944";
}
.di-tv:before {
	content: "\f95b";
}
.di-monitor:before {
	content: "\f95c";
}
.di-truck:before {
	content: "\f959";
}
.di-shopping-cart:before {
	content: "\f95a";
}
.di-coffee:before {
	content: "\e9c5";
}
.di-gift:before {
	content: "\e9a9";
}
.di-thumbs-up:before {
	content: "\e9aa";
}
.di-thumbs-down:before {
	content: "\e9ab";
}
.di-heart:before {
	content: "\e9ac";
}
.di-star:before {
	content: "\e9ad";
}
.di-sun:before {
	content: "\e9ba";
}
.di-moon:before {
	content: "\e9bb";
}
.di-smile:before {
	content: "\e99d";
}
.di-meh:before {
	content: "\e99e";
}
.di-frown:before {
	content: "\e99f";
}
.di-slash:before {
	content: "\e9b9";
}
.di-wifi:before {
	content: "\e97c";
}
.di-wifi-off:before {
	content: "\e97d";
}
.di-phone1:before {
	content: "\e97e";
}
.di-phone-call:before {
	content: "\e97f";
}
.di-phone-off:before {
	content: "\e980";
}
.di-eye:before {
	content: "\e981";
}
.di-eye-off:before {
	content: "\e982";
}
.di-mic:before {
	content: "\e983";
}
.di-mic-off:before {
	content: "\e984";
}
.di-bell:before {
	content: "\e985";
}
.di-bell-off:before {
	content: "\e986";
}
.di-camera:before {
	content: "\e989";
}
.di-camera-off:before {
	content: "\e98a";
}
.di-video:before {
	content: "\e9b1";
}
.di-video-off:before {
	content: "\e9b2";
}
.di-volume1:before {
	content: "\e9b4";
}
.di-volume-11:before {
	content: "\e9b5";
}
.di-volume-22:before {
	content: "\e9b6";
}
.di-volume-x:before {
	content: "\e9be";
}
.di-shield:before {
	content: "\e9b7";
}
.di-shield-off:before {
	content: "\e9b8";
}
.di-lock:before {
	content: "\e9bc";
}
.di-unlock:before {
	content: "\e9bd";
}
.di-log-in:before {
	content: "\e9bf";
}
.di-log-out:before {
	content: "\e9c0";
}
.di-settings:before {
	content: "\e9a6";
}
.di-tool:before {
	content: "\e9a7";
}
.di-user:before {
	content: "\e904";
}
.di-users:before {
	content: "\e906";
}
.di-more-horizontal:before {
	content: "\e9c1";
}
.di-more-vertical:before {
	content: "\e9c2";
}
.di-grid:before {
	content: "\e9c3";
}
.di-menu:before {
	content: "\e998";
}
.di-power:before {
	content: "\e086";
}
.di-rotate-ccw:before {
	content: "\e99a";
}
.di-rotate-cw:before {
	content: "\e080";
}
.di-refresh-ccw:before {
	content: "\e99b";
}
.di-refresh-cw:before {
	content: "\e99c";
}
.di-headphones:before {
	content: "\e9cb";
}
.di-counselor1:before {
	content: "\c90d";
}
.di-counselor2:before {
	content: "\c90e";
}
.di-counselor3:before {
	content: "\c90f";
}
.di-arrow-up1:before {
	content: "\e90a";
}
.di-arrow-up-right:before {
	content: "\e913";
}
.di-arrow-right1:before {
	content: "\e914";
}
.di-arrow-down-right:before {
	content: "\e915";
}
.di-arrow-down1:before {
	content: "\e916";
}
.di-arrow-down-left:before {
	content: "\e917";
}
.di-arrow-left1:before {
	content: "\e918";
}
.di-arrow-up-left:before {
	content: "\e919";
}
.di-arrow-down-circle:before {
	content: "\e91e";
}
.di-arrow-up-circle:before {
	content: "\e91f";
}
.di-arrow-left-circle:before {
	content: "\e920";
}
.di-arrow-right-circle1:before {
	content: "\e929";
}
.di-at-sign:before {
	content: "\e935";
}
.di-award:before {
	content: "\e936";
}
.di-flag:before {
	content: "\e937";
}
.di-music:before {
	content: "\e93d";
}
.di-umbrella:before {
	content: "\e93f";
}
.di-wind:before {
	content: "\e95a";
}
.di-thermometer:before {
	content: "\e95f";
}
.di-cloud:before {
	content: "\e960";
}
.di-cloud-drizzle:before {
	content: "\e961";
}
.di-cloud-lightning:before {
	content: "\e962";
}
.di-cloud-snow:before {
	content: "\e963";
}
.di-rss:before {
	content: "\e964";
}
.di-download:before {
	content: "\e965";
}
.di-upload:before {
	content: "\e966";
}
.di-download-cloud:before {
	content: "\e96e";
}
.di-upload-cloud:before {
	content: "\e96f";
}
.di-info1:before {
	content: "\e971";
}
.di-help-circle:before {
	content: "\e972";
}
.di-alert-circle:before {
	content: "\e973";
}
.di-alert-triangle:before {
	content: "\e974";
}
.di-alert-octagon:before {
	content: "\e975";
}
.di-x-octagon:before {
	content: "\e979";
}
.di-play-circle1:before {
	content: "\e97a";
}
.di-pause-circle1:before {
	content: "\e97b";
}
.di-stop-circle1:before {
	content: "\e987";
}
.di-disc:before {
	content: "\e988";
}
.di-skip-back:before {
	content: "\e98b";
}
.di-rewind:before {
	content: "\e98c";
}
.di-play1:before {
	content: "\e98d";
}
.di-square:before {
	content: "\e98e";
}
.di-pause1:before {
	content: "\e98f";
}
.di-fast-forward:before {
	content: "\e990";
}
.di-skip-forward:before {
	content: "\e991";
}
