@charset "utf-8";


/*======================================*/
/*======================================*/
/* 화면 공통 */
/* 공통 Element ************************/
/* 슬라이드 swiper  */
@media screen and (min-width: 480px) {
	.sec_event {
		padding: var(--dx-section-pad-y) calc(var(--dx-section-pad-x) + 0.313rem);
	}
}
.swiper-wrapper {
	margin: 0 auto;
}
@media screen and (min-width: 992px) {
	.swiper:not(.benner-swiper2) {
		max-width: 90vw;
	}
	.swiper:not(.benner-swiper2) .swiper-wrapper {
		justify-content: center;
	}
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.swiper-control {
	--swiper-theme-color: var(--dwp-main);
	--swiper-pagination-fraction-color: var(--dwp-white);
	--swiper-navigation-size: 1rem;
	--swiper-navigation-color: var(--dwp-white);
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;
	height: 8.25vw;
	min-height: 1.5rem;
	max-height: 1.8rem;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(var(--dwp-dark-rgb), 0.75);
	border-radius: 3rem;
	box-sizing: border-box;
	padding: 0 0.65rem;
	z-index: 11;
	gap: 0.5rem;
}
@media screen and (min-width: 992px) {
	.swiper:not(.benner-swiper2) .swiper-control {
		display: none;
	}
}
.slide--control {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.25rem;
}
.slide--control .swiper-button-next, 
.slide--control .swiper-button-prev {
	position: static;
	margin-top: 0;
	width: 100%;
	height: 100%;
	padding: 0.4rem;
	font-weight: 700;
}
.slide--control .icon {
	width: 1.5rem;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0;
}
.slide--control .icon::before {
	display: inline-block;
	font-family: doFont218;
	text-transform: none !important;    
	text-align: center;
	font-size: 1rem;
	color: var(--dwp-white);	
}
/* pagination */
.swiper-pagination {
	--swiper-pagination-fraction-color: var(--dwp-white);
	--swiper-pagination-bullet-inactive-color: var(--dwp-white);
	--swiper-pagination-bullet-inactive-opacity: 1;
	position: unset;
	text-align: left;
	font-size: 0.813rem;
	padding: 0.5rem;
}
.swiper-pagination > * {
	color: var(--swiper-pagination-fraction-color);
}

/* nav btn*/
.custom-fraction {
	text-align:right; 
	margin:15px 5px 0 0;
}
.swiper-button::before {
	content: '\ea1d';	
}
.auto-start::before {
	content: '\ea1c';	
}
.benner-swiper {
	margin: 0 auto;    
}

@media screen and (min-width: 360px) {
	.benner-swiper2.swiper {
		max-width: 360px;
	}
}

/*======================================*/
/* Layout       ************************/
.view__large .fluidSet {
	--dwp-font-fluid-size: var(--dx-font-fluid-size);
	--dwp-font-fluid: 1.45;
	--dwp-font-size: calc(var(--dwp-font-fluid-size) * var(--dwp-font-fluid));
	font-size: var(--dwp-font-size);
}
.view__large .fluidSet .icon,
.view__large .fluidSet .image {
	display: none !important;
}
.view__large .fluidSet .icon::before,
.view__large .fluidSet .imageIcon::before,
.view__large .fluidSet .button::before {
	content: none !important;
}
.view__large .fluidSet .button,
.view__large .fluidSet .button::before,
.view__large .fluidSet .button::after  {
	background-image: none !important;
	content: none !important;
}
.imageIcon[style *="null"]::before,
.imageIcon[style *="undefined"]::before,
.imageIcon[style *="null"]::after,
.imageIcon[style *="undefined"]::after,
.button[style *="null"]::before,
.button[style *="undefined"]::before,
.button[style *="null"]::after,
.button[style *="undefined"]::after,
.mN_list li .list_btn[style *="undefined"]::before,
.mN_list li .list_btn[style *="null"]::before {
	display: none;
	background-image: none !important;
}

#ivr, 
.ivr,
.dwp_root, 
.page-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
/*======================================*/
/* 서울 */
#seoul-common-gnb {
	border-bottom: 1px solid var(--dwp-gray-200);
}
/*======================================*/
/* header - 로고, 소식 */
.header {
	--dx-icon-image: url(../images/logo.png);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--dx-header-height);
	background-color: var(--dwp-light);
	border-bottom: 1px solid var(--dwp-gray-200);
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	z-index: 9999;
}
.header_inner {
	width: 100%;
	height: 100%;    
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 0.625em;
}
.header_inner > * {
	flex: 1;
}
.header_logo {
	display: inline-block;
	/* width: 7.625rem; */
	height: 100%;
	max-height: 2.5rem;
	text-indent: -999999px;
	font-size: 0;
	line-height: 0;
	background-image: var(--dx-icon-image);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;	
}

/*======================================*/
/* container > contents - 메뉴, 배너 */
.container {
	height: 100%;
}
.contents {
	padding-top: var(--dx-header-height);
	padding-bottom: calc(var(--dx-footer-height) + calc(var(--dx-floating-height)) );
}
.contents.no_all {
	padding-top: 0;
	padding-bottom: 0;
}
.contents.no_header {
	padding-top: 0;
	padding-bottom: calc(var(--dx-footer-height) + calc(var(--dx-floating-height)) );
}
.contents.no_footer {
	padding-top: var(--dx-header-height);
	padding-bottom: 0;
}
/* content */
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
}
.content > section.row {
	width: 100%;
}

/*======================================*/
/* footer - 공통기능, 플로팅 */
.footer {	
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
	height: var(--dx-footer-height);
	background-color: var(--dwp-light);
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	box-shadow: var(--dwp-shadow);
	z-index: 9999;
	/* display: flex; */
	/* transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1); */
	/* padding: calc(var(--dx-section-pad-y) + 0.15rem) calc(var(--dx-section-pad-x) - 0.5rem) calc(var(--dx-section-pad-y) + 1rem); */
}
.footerNav {	
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;	
}
.footerNav > li {
	flex: 1;
	width: 100%;
	display: block;
	width: 100%;
	height: 100%;
	min-width: 1.625em;
}
.footerNav > li > .button  {
	--dx-icon: url(../images/ic_chat_counsel01_n.svg);
	font-size: 1em;	
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.2em;
	padding: 0 0.25rem 0.65rem;
}
.footerNav .button.disabled,
.footerNav .button:disabled {
	opacity: 0.75;
}
.footer .button > .label,
.footer .button > .custom_text,
.footer .button > .text-special {
	width: 100%;
	font-size: 0.813em;
	line-height: 105%;
	font-weight: 400;
	color: var(--dwp-body-color);
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* margin: auto; */
	/* overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; */
}

/* floating 버튼 */
.floating_mob {
	position: fixed; 
	bottom: 4.25rem; 
	right: 1rem; 
	z-index: 9999999;
}
.floating_mob .counselor {
	--dx-icon-image: url(../images/ic_counsel_f_02.svg);
	--dx-box-shadow: var(--dwp-shadow-right);
	--dx-bg-color: var(--dwp-main);
	--dx-bgTop-color: #4FACB1;
	--dx-bg-gradient-angle: 210deg;
	--dx-bg-gradient-topSize: 20%;
	--dx-bg-gradient-bottomSize: 100%;
	--dx-bg-image: var(--dx-icon-image), linear-gradient(var(--dx-bg-gradient-angle), var(--dx-bgTop-color) var(--dx-bg-gradient-topSize), var(--dx-bg-color) var(--dx-bg-gradient-bottomSize));
	overflow: hidden; 
	display: block; 
	width: 3.8rem;
	height: 3.8rem;
	padding: 0; 
	text-indent: -9999px; 
	border: none;
	background-color: var(--dx-bg-color);
	background-image: var(--dx-bg-image);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 3.25rem 3.25rem, 100%;
	border-radius: 50%;	
	box-shadow: var(--dx-box-shadow);
} 
.floating_mob .counselor::before {
	--dx-icon-image: url(../images/ic_counsel_f_01.svg);
	display: inline-block;
	content: '';
	width: 3.5rem;
	height: 3.5rem;
	background-image: var(--dx-icon-image);
	background-repeat: no-repeat;
	background-position: 0;
	background-size: 100%;
}

/* 푸터 이미지 */
.footerNav .button::before {
	flex-shrink: 0;
	display: inline-block;
	content: '';
	width: 1.25em;
	height: 1.25em;
	background-image: var(--dx-icon);
	background-repeat: no-repeat;
	background-position: 0;
	background-size: 100%;
}
.dwp_dark .footerNav .button::before {
	background-color: var(--dwp-gray-600);
	border-radius: var(--dwp-border-radius);
}
.dwp_dark .footerNav .button::before {
	background-position: 50%;
}
.footer .home::before {/* 처음으로 */
	--dx-icon: url(../images/ic_home_n.svg);	
}				
.footer .back::before {/* 이전 */
	--dx-icon: url(../images/ic_back_n.svg);
}		
.footer .repeat::before {/* 다시 듣기 */
	--dx-icon: url(../images/ic_refresh_n.svg);
}			
.footer .counselor::before {/* 상담사 연결 */
	--dx-icon: url(../images/ic_counsel_n.svg);
}		
.footer .end::before {/* 종료 */
	--dx-icon: url(../images/ic_end_n.svg);
}				
.footer .viewLarge::before {/* 크게 보기 */
	--dx-icon: url(../images/ic_viewLarge_n.svg);
}				
.footer .viewSmall::before {/* 작게 보기 */
	--dx-icon: url(../images/ic_viewSmall_n.svg);
}
/* 수어상담 *//* 채팅상담 */
/* .footer .viewSmall::before {
	--dx-icon: url(../images/ic_viewSmall_n.svg);
}
.footer .viewSmall::before {
	--dx-icon: url(../images/ic_viewSmall_n.svg);
} */
/* 더보기 */
.view__large .fluidSet .more_circle {
	display: none;
}
.more_circle {
	position: relative;
	width: 2.500em;
	height: 2.500em;
	border-radius: 50%;
	background-color: var(--dwp-main);
}
.more_circle::before,
.more_circle::after {	
	display: inline-block;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 0.625em;
	width: 1.250em;
	height: 2px;
	background: var(--dwp-white);
	transition: 1s cubic-bezier(0.19, 1, 0.22, 1);
	transform-origin: center;
}
.more_circle::after {
	transform: rotate(90deg);
}
.footer .botnavi__more {
	display: flex;
	align-items: center;
	position: absolute;
	top: -70px;
	left: 50%;
	width: auto;
	height: 57px;
	border-radius: 30px;
	transform: translateX(-50%);
	padding: 0 10px;
	visibility: hidden;
}
.botnavi__more.active {
	top: -80px;
	visibility: visible;
	transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
	background: var(--dwp-main);
}
.footer .botnavi__more .more__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.footer .botnavi__more  .more__list li {
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 0.5rem;
}
.footer .botnavi__more .more__list li a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.footer .botnavi__more .more__list li a .icon::before {
	--dx-icon: url(../images/ic_chat_counsel01_n.svg);
	display: inline-block;
	content: '';
	width: 100%;
	height: 1.125em;
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: contain;
	margin: auto;
}
.footer .botnavi__more .more__list li a > span {
	font-size: 1em;
	white-space: nowrap;
	color: var(--dwp-white);
}
.more__circle.active .bar01 {
	transform: rotate(225deg);
}
.more__circle.active .bar02 {
	transform: rotate(-45deg);
}
.footer .botnavi__more.active {
	top: -80px;
	visibility: visible;
	transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}



/*======================================*/
/*======================================*/
/* 메뉴 공통 */
.sec_menu {
	padding: var(--dx-section-pad-y) var(--dx-section-pad-x) calc(var(--dx-section-pad-y) + 0.5rem) var(--dx-section-pad-x);
}
.navi,
.menu {
	position: relative;
	width: 100%;
}
/* 메뉴 정렬(n*X)- 기본 공통 */
.mN_list {
	display: flex;	
}
.mN_list li {
	position: relative;
	display: flex;
	flex: 1 auto;
	max-width: 100%;
	align-content: space-around;
	align-items:center;
	padding: 0.313rem;
}
.mN_list li .list_btn {
	--dx-border-color: var(--dwp-gray-300);
	--dx-border-radius: var(--dwp-border-radius);
	--dx-bg-color: var(--dwp-light);
	--dx-box-shadow: var(--dwp-shadow-400);
	
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 3.5rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0.625rem 0.75rem;
	gap: 0.25em;
	border: 1px solid var(--dx-border-color);
	border-radius: var(--dx-border-radius);
	background-color: var(--dx-bg-color);
	box-shadow: var(--dx-box-shadow);
}
/* .mN_list li .list_btn:not(.imgHidden) {
	--dx-icon-image: url('../images/menu00.svg');
} */
.mN_list li .list_btn::before {
	display: inline-block;
	content: '';
	width: 1.875rem;
	min-width: 1.5rem;
	height: 1.875rem;
	background-image: var(--dx-icon-image);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	overflow: hidden;
}
.mN_list li .menuT {
	flex: 1;
	display: flex;
	font-size: 0.938em;
	line-height: 1.063em;
	font-weight: 400;
	flex-direction: column;
	justify-content: center;
}


/* 메뉴 번호 매기기 */
.number_list .mN_list {
	counter-reset: number 0;
}
.number_list .mN_list .list_btn::before {
	display: inline-block !important;	
	counter-increment: number 1;
	content: '' counter(number) '.';
	height: auto;
	flex: 0 2rem;
	padding: 0 0.75rem 0 0.45rem;
	color: var(--dwp-main);    
	text-align: center; 
	
	background-image: none;
}
.circle_list .mN_list .list_btn::before {
	content: none;
}
.circle_list .mN_list .list_btn .menuT::before {
	content: none;
}
/*** 연속 숫자 스타일 - 라인 원 .number_list + .circle_list ***/
.circle_list .mN_list {
	counter-reset: circle 0;
}
.circle_list .mN_list li .menuT {
	position: relative;
	text-align: left;
	padding-left: 2rem;
}
.circle_list .mN_list li .list_btn .menuT::before {	
	position: absolute;
    top: 50%;
	left: 0.8rem;
    width: auto;
    transform: translateY(-50%);
    font-size: 0.8rem;
    color: var(--dwp-main);
    counter-increment: circle 1;
    content: counter(circle);
    padding: 0;
	z-index: 1;
}
.circle_list .mN_list li .list_btn .menuT::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0.4rem;
	transform: translateY(-50%);
	display: inline-block;
	border: 1px solid var(--dwp-main);
	border-radius: 50%;
	width: 1.25rem;
	height: 1.25rem;
}
/*** 연속 숫자 스타일 - 채워진 원 .number_list + .colorcircle_list ***/

.colorcircle_list .mN_list li .list_btn .menuT::before {
	color: var(--dwp-white);
}
.colorcircle_list .mN_list li .list_btn .menuT::after {
	border: 1px solid var(--dwp-main);
	background-color: var(--dwp-main);
}

/* .circle_list .major_menu .mN_list li .list_btn .menuT::after {
    left: 0.4rem;
}
.circle_list .major_menu .mN_list li .list_btn .menuT::before {
    left: 0.8rem;
} */

/* 메뉴 정렬 */
/* 3*X 정렬 .three--by */
.three--by .mN_list li {
	flex: 1 33.33333%;
	min-width: 33.33333%;
	max-width: 33.33333%;
}
/* 2*X 정렬 .two--by */ 
.two--by .mN_list li {
	flex: 1 50%;
	max-width: 50%;
}
.two--by .mN_list li .list_btn {
	flex-wrap: wrap;
}
/* 1*X 정렬 .one--by */
.one--by .mN_list li {
	flex: 1 100%;
	max-width: 100%;
}
.one--by .mN_list li .menuT {
	flex: 1;
	text-align: left;
}
/* 세로 중앙/가운데 정렬 .major_menu */
.major_menu .mN_list li .list_btn {
	justify-content: center;
}
.major_menu .mN_list li .list_btn::before {
	margin: 0;
}
.major_menu .mN_list li .menuT {
	flex: 0 auto;
	text-align: center;
}

@media screen and (max-width: 992px) {
	.mN_list {
		flex-wrap: wrap;
	}
}
@media screen and (min-width: 992px) {
	.mN_list {
		flex-wrap: wrap;
	}
}
@media screen and (max-width: 260px) {
	.mN_list li .list_btn {
		justify-content: center;
	}
	.mN_list li .list_btn::before {
		margin: auto;
	}
	.mN_list li .menuT {
		/* flex: unset !important; */
		text-align: center !important;		
	}
	.one--by .mN_list li .menuT {
		text-align: left !important;
	}
}

/*============================================================================*/


/*======================================*/
/* index.html							*/
/*======================================*/
.index_page .content {
    gap: 0.375rem
}
/* 소식 */
.info,
.news,
.pageTitle {	
	position: sticky;
	top: var(--dx-header-height);
	left: 0;
	width: 100%;
	min-height: var(--dx-news-height);
	display: flex;
	align-items: center;
	background-color: var(--dwp-main);
	font-size: 1em;
	overflow: hidden;
	z-index: 9998;	
}
.news {
	font-size: 0.875em;
}
.info_inner {
	width: 100%;
	height: 100%;
}
.info_inner > a {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: calc(var(--dx-section-pad-y) + 0.75rem) var(--dx-section-pad-x);
	gap: 0.25rem;
}
.news .info_inner > a::after {
	font-family: 'doFont218' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	content: '\e933';
	display:inline-block;
	font-size: 0.813rem;
	color: var(--dwp-white);
}
.info_doc {
	color: var(--dwp-white);
	font-size: 1em;
	line-height: 110%;
}
.pageTitle .info_inner .info_doc {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: calc(var(--dx-section-pad-y) + 0.75rem) var(--dx-section-pad-x);
	gap: 0.25rem;
	text-align: center;
}
.pageNotice {
	width: 100%;	
	padding: var(--dx-section-pad-y) calc(var(--dx-section-pad-x) + 0.125rem);
}
.pageNotice .notice_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;    

	background-color: var(--dwp-gray-100);
	border-radius: var(--dwp-border-radius);
	padding: 0.65rem;
	
	font-size: 0.875em;
	line-height: 1.25em;
	text-align: left;
}
.pageNotice .notice_inner > span {
	flex: 1;
}
.pageNotice .notice_inner::before {
	font-family: 'doFont218' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	
	content: '\e9d4';
	display: inline-block;
	font-size: 1em;
	line-height: 1.2em;
	color: var(--dwp-main);
	padding-right: 0.45rem;
}

/*======================================*/
/* Recommend 추천 메뉴 */
.sec_intro {
	--dx-border-radius: var(--dwp-border-radius);
	padding: var(--dx-section-pad-y) var(--dx-section-pad-x);
}
.pt_intro {
	display: flex;
	justify-content: center;
}
.intro_box-content {
	position: relative;
	display: flex;	
	align-items: stretch;	
	flex: 1 33.33333%;
	max-width: 100%;
	padding: 0.313rem;
}
.intro_box-content .button {
	--dx-icon-image: url('../images/bul_70.png');
	--dx-bg-color: #e1f3ff;
	--dx-bgTop-color: var(--dwp-light);
	--dx-bg-gradient-angle: 180deg;
	--dx-bg-gradient-topSize: 18%;
	--dx-bg-gradient-bottomSize: 18%;
	--dx-bg-image: var(--dx-icon-image), linear-gradient(var(--dx-bg-gradient-angle), var(--dwp-light) var(--dx-bg-gradient-topSize), var(--dx-bg-color) var(--dx-bg-gradient-bottomSize));
	
	display: flex;
	align-items: baseline;	
	width: 100%;
	height: 100%;
	border: 1px solid var(--dwp-body-bg);
	border-radius: var(--dx-border-radius);
	background-color: var(--dx-bg-color);
	background-image: var(--dx-bg-image);
	background-position: 95% 0, center;
	background-size: 3.0rem, 100%;
	background-repeat: no-repeat;
	padding: 0.750rem 0.563rem;
}
.intro_box-content .button:hover {
	background-color: var(--dx-bg-color);
	box-shadow: var(--dwp-shadow-inset);
}
.intro_box-content:nth-child(1) .button {	
	--dx-bg-color: #e2faf6;
}
.intro_box-content:nth-child(2) .button {
	--dx-bg-color: #e1f3ff;
}
.intro_box-content:nth-child(3) .button {
	--dx-bg-color: #f0edff;
}
.intro_box-content:nth-child(4) .button {
	--dx-bg-color: #fff6da;
}
/* .intro_box-content:nth-child(1) .button::after {
	--dx-icon-image: url('../images/kakao_70.png');
}
.intro_box-content:nth-child(2) .button::after {
	--dx-icon-image: url('../images/ari_70.png');
}
.intro_box-content:nth-child(3) .button::after {
	--dx-icon-image: url('../images/bul_70.png');
}
.intro_box-content:nth-child(4) .button::after {
	--dx-icon-image: url('../images/seoul_70.png');
} */
.pt_txt {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	text-align: left;
	padding-top: 0.875rem;
}
.view__large .fluidSet .pt_txt {
	padding-top: 0;
}
.pt_txt_tit {
	font-size: 0.800em;
	line-height: 120%;
	font-weight: 600;
}
.pt_txt_desc {
	font-size: 0.650em;
	line-height: 120%;
	letter-spacing: -.25px;    
}
@media screen and (max-width: 280px) {
	.intro_box-content {
		flex: 1 100%;
	}
}
@media screen and (max-width: 768px) {
	.sec_intro .pt_intro {
		flex-wrap: wrap;
	}
}
@media screen and (min-width: 1440px) {
	:root {
	--dx-section-pad-x: 3vw;
	--dx-section-pad-y: 0vw;	
	}
} 
.sec_intro2 .intro_box-content {
	position: relative;
	display: flex;	
	align-items: stretch;	
	flex: 1 50%;
	/* min-width: 50%; */
	max-width: 100%;
	padding: 0.313rem;
}
.sec_intro2 .intro_box-content .button {
	align-items: center;	
	background-image: linear-gradient(var(--dx-bg-gradient-angle), var(--dx-bg-color) var(--dx-bg-gradient-topSize), var(--dx-bg-color) var(--dx-bg-gradient-bottomSize));	
}
.sec_intro2 .intro_box-content .button::after {
	content: '';
	display: inline-block;
	height: 4rem;
	width: 4rem;
	background-image: var(--dx-icon-image);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
.sec_intro2 .pt_txt {
	padding-top: 0;
	padding-right: 0.25rem;
}
@media screen and (max-width: 479.98px) {
	.sec_intro2 .intro_box-content {
		flex: 1 100%;
	}
}
/*======================================*/
/* 메뉴 index-menu */
/*======================================*/
.index_menu .mN_list li .list_btn {
	--dx-border-color: var(--dwp-gray-200);
}
/* 3*X 정렬 - .three--by .major_menu .index-menu */
.index_menu .mN_list li .menuT {
	width: 100%;
	flex: 1 auto;
	min-height: 1.375em;
	/* align-items: center; */
}
.index_menu .mN_list li .list_btn {
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	min-height: 6rem;
	padding: 0.5rem 0.438rem;
}
.index_menu .mN_list li .list_btn::before {
	/* flex: 1; */
	display: inline-block;
	content: '';
	width: 100%;
	height: 2.5rem;
	background-image: var(--dx-icon-image);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	overflow: hidden;
}
.view__large .fluidSet .index_menu .mN_list li .list_btn::before {
	display: none;
}
/* 시안 3, 4 */
.index3 {
	--dx-bg-color: var(
	--dwp-light);
	--dx-bgTop-color: var(
	--dwp-main);
	--dx-bg-gradient-angle: 180deg;
	--dx-bg-gradient-topSize: 40%;
	--dx-bg-gradient-bottomSize: 40%;
	--dx-bg-image: url('../images/main_03.jpg'), linear-gradient(var(--dx-bg-gradient-angle), var(--dx-bgTop-color) var(--dx-bg-gradient-topSize), var(--dx-bg-color) var(--dx-bg-gradient-bottomSize));
	background-color: var(--dx-bg-color);
	background-image: var(--dx-bg-image);
	background-position: 0 6.25rem, center;
	background-size: auto 30%, 100% 100%;
	background-repeat: no-repeat;
}
.index3 .info {
	background-color:  var(--dx-main-300);
	box-shadow: var(--dwp-primary-shadow);
}
.index3 .info_inner > a {   
	border-bottom: 1px solid rgba(var(--dwp-light-rgb), 0.25);
}
.index3 .sec_intro2  {
	padding: var(--dx-section-pad-y) var(--dx-section-pad-x) calc(var(--dx-section-pad-y));
}
.index3 .sec_intro2 .intro_box-content .button {
	--dx-icon-image: url('../images/kakaoTALK_70.png');
	--dx-bg-color: var(--dwp-translucent);
	border: 1px solid var(--dx-bg-color);
	background-image: none;
	color: var(--dwp-light);
	gap: 0.313rem 0.5rem;
	
	min-height: 5.25rem;
	position: relative;
	padding: 0.438rem;
}
.index3 .sec_intro2 .intro_box-content .button::after {
	display: block !important;
	content: '' !important;
	width: calc(100% - 0.75rem);
	position: absolute;
	bottom: 0;
	left: 0.375rem;
	height: 1px;
	background: rgba(var(--dwp-light-rgb), 0.25);
}
.index3 .sec_intro2 .intro_box-content:last-of-type .button:after {
	display: none !important;
}
.index3 .sec_intro2 .intro_box-content .button::before {
	content: '';
	display: inline-block;	
	width: 4em;
	height: 3.438em;
	background-image: var(--dx-icon-image);
	background-position: 0 center;
	background-size: contain;
	background-repeat: no-repeat;
}
.index3 .sec_intro2 .intro_box-content .button:hover {
	background-color: rgba(var(--dwp-light-rgb), 0.25);
	box-shadow: none;
}
.index3 .pt_txt > * {
	color: var(--dwp-light);
}
.index3 .pt_txt_desc {
	opacity: 0.8;
}
.index3 .intro_box-content {
	padding: 0;
}
.index4  .index_menu .mN_list {
	--dx-border-color:var(--dwp-transparent);
	--dx-border-radius: var(--dwp-border-radius);
	--dx-bg-color: var(--dwp-light);
	--dx-box-shadow: var(--dwp-shadow-400);
	
	border: 1px solid var(--dx-border-color);
	border-radius: var(--dx-border-radius);
	background-color: var(--dx-bg-color);
	box-shadow: var(--dx-box-shadow);
}
.index4 .index_menu .mN_list li {
	padding: 0;
}
.index4 .mN_list li .list_btn {
	--dx-border-color: var(--dwp-transparent);
	--dx-border-radius: var(--dwp-border-radius);
	--dx-bg-color: var(--dwp-light);
	--dx-box-shadow: var(--dwp-transparent);   
}
@media screen and (min-width: 480px) {	
	.index3 {
		--dx-bg-color: var(
		--dwp-light);
		--dx-bgTop-color: var(
		--dwp-main);
		--dx-bg-gradient-angle: 180deg;
		/* --dx-bg-gradient-topSize: 22%;
		--dx-bg-gradient-bottomSize: 22%; */
		--dx-bg-gradient-topSize: 33%;
		--dx-bg-gradient-bottomSize: 33%;
		/* background-position: 0 6.25rem, center; */
		background-size: 100% 22%, 100%;
		background-repeat: no-repeat;
	}
	.index3 .pt_intro {
		flex-wrap: nowrap;
	}
	.index3 .sec_intro2 .intro_box-content .button::after {
		width: 1px;
		height: calc(100% - 1rem);
		bottom: 0.5rem;
		right: 0;
		left: 100%;
	}
}

/*======================================*/
/* 단위 화면 */
/*======================================*/
/*  콘텐츠 형 */
.pageContents {
	width: 100%;	
	padding: calc(var(--dx-section-pad-y) + 1rem) calc(var(--dx-section-pad-x) * 0);
}
.pageContents .contents_inner {
	background-color: var(--dwp-gray-100);
	border-radius: var(--dwp-border-radius);
	padding: 1rem;
	
	font-size: 1em;
	text-align: left;
}
.con_menu .mN_list li .list_btn {
	--dx-border-color: var(--dwp-main);
	--dx-border-radius: var(--dwp-border-radius);
	--dx-bg-color: var(--dwp-white);	
	/* --dx-box-shadow: none; */

	--dwp-btn-font-size: 1.1250em;
	--dwp-btn-font-weight: 400;
	--dwp-btn-line-height: 1.5;
	--dwp-btn-color: var(--dwp-main);
	--dwp-btn-font-weight: 600;

	border-width: 2px;
}
.con_menu .mN_list li .menuT {
	font-size: var(--dwp-btn-font-size);
	font-weight: var(--dwp-btn-font-weight);
	line-height: var(--dwp-btn-line-height);
	color: var(--dwp-btn-color);	
}

/* 완료 형 .unit_page  */
.align_middle.contents {
	/* display: flex; */
	align-items: center;
}
.align_middle .content {
	/* display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem; */
	margin: auto;
}
.unit_page.contents {
	display: table;
	width: 100%;
	height: 100%;
}
.unit_page .content {	
	display: table-cell;
	vertical-align: middle;
}
.unit_page .section.row {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	padding: calc(var(--dx-section-pad-y) + 2rem)  calc(var(--dx-section-pad-x) + 1.5rem);
}
.unit_page .imageIcon {
	width: 50vw;
	height: 7rem;
	--dx-icon-image: url(../images/ic_standby_counsel.svg);	
}
.unit_page .imageIcon::before { 
	background-image: var(--dx-icon-image);
}
.btArs_page .imageIcon,
.imageIcon.btArsImg,
.btArsImg { /* ARS 연결*/
	--dx-icon-image: url(../images/ic_standby_ars.svg);
}
.transfer_page .imageIcon,
.imageIcon.transferImg,
.transferImg { /* 연결중, 대기, 전환 */
	--dx-icon-image: url(../images/ic_standby_standby.svg);
}
.counsel_page .imageIcon,
.imageIcon.counselImg,
.counselImg  { /* 상담사 연결*/
	--dx-icon-image: url(../images/ic_standby_counsel.svg);
}
.endCall_page .imageIcon,
.imageIcon.endCallImg, 
.endCallImg { /* 종료 */
	--dx-icon-image: url(../images/ic_standby_end.svg);
}
.kakao_page .imageIcon,
.imageIcon.kakaoImg,
.kakaoImg { /* 카카오톡 연결 */
	--dx-icon-image: url(../images/ic_standby_kakaoTalk.svg);
}
.error_page .imageIcon, 
.imageIcon.errorImg,
.errorImg { /* 주의 */
	--dx-icon-image: url(../images/ic_standby_error.svg);
}
.security_page .imageIcon, 
.imageIcon.securityImg,
.securityImg { /* 개인정보이용동의, 인증동의 */
	--dx-icon-image: url(../images/ic_large_certification.svg);
}
.receiptComplete_page .imageIcon, 
.imageIcon.receiptCompleteImg,
.receiptCompleteImg { /* 완료  */
	--dx-icon-image: url(../images/ic_large_complete.svg);
}
.lunchtime_page .imageIcon, 
.imageIcon.lunchtimeImg,
.lunchtimeImg { /* 점심 시간 */
	--dx-icon-image: url(../images/ic_large_lunchtime.svg);
}
.worktime_page .imageIcon,
.imageIcon.worktimeImg,
.worktimeImg  { /* 업무 시간   */
	--dx-icon-image: url(../images/ic_large_worktime.svg);
}
.worktimeEnd_page .imageIcon,
.imageIcon.worktimeEndImg,
.worktimeEndImg  { /* 업무 종료  - Night */
	--dx-icon-image: url(../images/ic_large_worktimeEnd.svg);
}
.sms_page .imageIcon,
.imageIcon.smsImg,
.smsImg { /* 문자 발송 */
	--dx-icon-image: url(../images/ic_large_message.svg);
}
.standby_page .imageIcon,
.imageIcon.standbyImg,
.standbyImg { /* 대기 */
	--dx-icon-image: url(../images/ic_standby_standby.svg);
}





@media only screen and ( min-width: 920px ), only screen and ( min-width: 748px ) and (orientation:portrait) {
	html {font-size: 16px;}
}

@media only screen and ( max-width: 280px ){
	html {font-size: 16px;}
}


/* XXLarge*/
	@media screen and (min-width: 1680px) {
		html {font-size: 16px;}


	}
/* XXLarge*/
	@media screen and (max-width: 1680px) {
		html {font-size: 16px;}

	}

/* XLarge */
	@media screen and (max-width: 1440px) {
		html {font-size: 16px;}

	}