@use '../abstract/color' as *;
@mixin icon-box($size: 2.5rem) {
    content: '';
    display: block;
    width: $size;
    height: $size;
    background-image: var(--dx-icon-image, none); // fallback none
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
	padding-bottom: 0.25rem;
}
@mixin hide-icon-if-empty() {
    .list_btn[style*='--dx-icon-image: null']::before,
    .list_btn[style*='--dx-icon-image: none']::before,
    .list_btn[style*='--dx-icon-image: ""']::before,
    .list_btn[style*="--dx-icon-image: ''"]::before {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
        margin: 0 !important;
    }
}
@mixin button-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
}

@mixin radius($size: sm) {
    @if $size == sm {
        border-radius: 0.25rem;
    } @else if $size == md {
        border-radius: 0.5rem;
    } @else if $size == lg {
        border-radius: 1rem;
    }
}

@mixin font-size($size: small) {
    @if $size == small {
        font-size: 0.875rem;
    } @else if $size == medium {
        font-size: 1rem;
    } @else if $size == large {
        font-size: 1.25rem;
    }
}

/// Pretendard 폰트 웨이트 mixin
/// @param {number} $weight - 사용할 font-weight (기본값: 400)
@mixin font-p($weight: 400) {
	font-family: 'Pretendard', sans-serif;
	font-weight: $weight;
}

// 공통 텍스트만 있을 때 처리
@mixin right-only-text {
	display: block;
	text-align: right;

	&::before {
		display: none !important;
	}
}

// 메인 정렬 Mixin
@mixin menu-layout($type, $has-icon: true) {
	@if $type == split {
		@if $has-icon {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		&::before {
			margin-right: 0.5em;
		}

		.menuT {
			text-align: right;
		}
		} @else {
		@include right-only-text;
		}
	}

	@else if $type == block {
		@if $has-icon {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		&::before {
			margin: 0 auto 4px 0;
		}

		.menuT {
			text-align: left;
		}
		} @else {
		@include right-only-text;
		}
	}

	@else if $type == center {
		display: block;

		&::before {
		display: block;
		margin: 0 auto;
		}

		.menuT {
		display: block;
		text-align: center;
		}
	}

	@else if $type == icononly {
		display: block;

		&::before {
		display: block;
		margin: 0 auto;
		}

		.menuT {
		display: none;
		}
	}
}

// box-shadow 그림자 선언
/// @param {string} $type - 사용할 font-weight (기본값: 400)
// @include shadow(default);  @include shadow(bottom);  @include shadow(900); 등으로 작성
$shadows: (
	default: 0 0 0.625em 0 rgba(red($gray-600), green($gray-600), blue($gray-600), 0.25),
	bottom:  0 0.5rem 0.5rem rgba(red($gray-600), green($gray-600), blue($gray-600), 0.3),
	right:   0.25rem 0.25rem 0.25rem rgba(red($gray-600), green($gray-600), blue($gray-600), 0.4),
	400:     0 0.25rem 0.25rem rgba(red($gray-400), green($gray-400), blue($gray-400), 0.25),
	600:     0 0.5em 0.5em rgba(red($gray-600), green($gray-600), blue($gray-600), 0.4),
	900:     0 0.5em 0.5em rgba(red($gray-900), green($gray-900), blue($gray-900), 0.45)
);


@mixin shadow($type) {
	$value: map-get($shadows, $type);

	@if $value {
		box-shadow: $value;
	} @else {
		@warn "Unknown shadow type: #{$type}";
	}
}