.radio {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    position: relative;

    .radio__input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        accent-color: transparent;
    }

    .radio__icon {
        width: 1.2em;
        height: 1.2em;
        border: 1px solid gray;
        border-radius: 50%; // 원형!
        background-color: transparent;
        position: relative;

        &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0;
        }
    }

    .radio__label {
        color: #000;
    }
}

/* 상태 처리 */
.radio__input:checked ~ .radio__icon::before {
    opacity: 1;
    background-image: url("/resources/icon-set/ic-radio-checked.svg");
}

.radio__input:disabled ~ .radio__icon,
.radio__input:disabled ~ .radio__label {
    opacity: 0.3;
    cursor: not-allowed;
}

.radio__input:focus-visible ~ .radio__icon {
    outline: 2px solid blue;
}