<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>LGU+ 보이는 ARS</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css">

    <!-- 메인에만 필요 -->
	<!-- <link rel="stylesheet" type="text/css" href="../../static/css/main.css"> -->

	<!-- Scripts -->
</head>
<style>
    .page-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .header {
        position: unset;
        transform: unset;
    }
</style>
<body>
	<div class="page-wrapper main">
		<!-- header -->
		<header class="header">
			<!-- 
				※※※※ 사용 안하는 태그 삭제 ※※※※
                이전 prev / 처음 end
				header__util 안에 아무것도 없을 경우 주석처리 <div class="header__util"></div>
            -->
			<div class="header__util">
				<span class="header-tit"><span class="header-txt">보이는 ARS</span></span>
			</div>
			<div class="header__btn">
				<button type="button" class="btn-ico btn-search"><span>검색</span></button>
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->
	</div>

	
	<div class="page-wrapper">
        <!-- header -->
		<header class="header">
			<div class="header__util">
				<button type="button" class="btn btn-util prev"><span>이전</span></button>
				<span class="header-tit">페이지 타이틀<span class="header-txt"></span></span>
			</div>
			<div class="header__btn">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->

        <!-- header -->
		<header class="header">
			<div class="header__util">
				<button type="button" class="btn btn-util prev"><span>이전</span></button>
				<span class="header-tit">보이는 ARS<span class="header-txt">로 돌아가기</span></span>
			</div>
			<div class="header__btn hidden">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->

        <!-- header -->
		<header class="header">
			<div class="header__util">
				<button type="button" class="btn btn-util prev"><span>이전</span></button>
			</div>
			<div class="header__btn">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->

		<!-- header -->
		<header class="header">
			<div class="header__util">
				<button type="button" class="btn btn-util end"><span>처음</span></button>
				<span class="header-tit">페이지 타이틀<span class="header-txt"></span></span>
			</div>
			<div class="header__btn">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->

        <!-- header -->
		<header class="header">
			<div class="header__util">
				<button type="button" class="btn btn-util end"><span>처음</span></button>
				<span class="header-tit">보이는 ARS<span class="header-txt">로 돌아가기</span></span>
			</div>
			<div class="header__btn hidden">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->

        <!-- header -->
		<header class="header">
			<div class="header__util">
				<button type="button" class="btn btn-util end"><span>처음</span></button>
			</div>
			<div class="header__btn">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->

		<!-- header -->
		<header class="header">
			<div class="header__util">
				<span class="header-tit">페이지 타이틀<span class="header-txt"></span></span>
			</div>
			<div class="header__btn">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->

		<!-- header -->
		<header class="header">
			<!-- <div class="header__util"></div> -->
			<div class="header__btn">
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->
        

		<div class="container">
			<div class="section__cont">
				<div class="cont__wrap">
				</div>
			</div>
		</div>
	</div>
</body>
</html>