<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>조회페이지 케이스</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css">
	<script>
		const isMobile = /iPhone|iPad|iPod|Android/i.test(window.navigator.userAgent);
		function initCheckDevice() {
			// PC
			if (!isMobile) {
				document.body.classList.add("is-pc");
			}
		}
		window.onload = ()=> {
			initCheckDevice();
		}
	</script>
</head>
<body>
	<div class="page-wrapper">
		<!-- header -->
		<header class="header">
			<div class="header__util">
				<button type="button" class="btn btn-util prev"><span>이전</span></button>
			</div>
			<div class="header__btn btn-group">
				
				<button type="button" class="btn btn-callEnd"><span class="icon"></span><span class="txt">종료</span></button>
			</div>
		</header>
		<!-- //header -->

		<!-- container -->
		<div class="container">
			<!-- 홀맨 배너 영역// -->
			<!-- Case 청구서 기본 -->
			<div class="section__cont summary">
				<div class="cont__wrap cont__wrap-bill">
					<div class="select-billdate">
						<span class="txt-due"><span>2월 1일</span> ~ <span>2월 28일</span></span>
					</div>
					<div class="cont__txt-box">
						<span class="txt-select-wrap">
							<button type="button" class="chips chips-date">
								<span class="txt"><span>24년</span><span>3월</span></span>
								<span class="arrow"></span>
							</button>
							<span class="txt">청구요금은</span>
						</span>
						<span class="txt price">
							<span class="deco">89,000</span>
							<span class="color-prim">원</span>이에요
						</span>
					</div>
				</div>
				<!-- 동일 케이스 : <span class="txt-info"> -->
				<div class="info-price-single">
					<span class="txt-info ">
						지난 달과 납부요금이<span class="color-prim">동일해요</span>
					</span>
				</div>
				<!-- 증가 케이스 : <span class="txt-info increase"> -->
				<div class="info-price-single">
					<span class="txt-info increase">
						지난 달보다
						<span>
							<span class="txt-price">38,000원</span>늘었어요
							<span class="img-box">
								<img src="../../static/images/icon/ic-arrowUp-circle-prime.svg" alt="">
							</span>
						</span>
					</span>
				</div>
				<!-- 감소 케이스 : <span class="txt-info decrease"> -->
				<div class="info-price-single">
					<span class="txt-info decrease">
						지난 달보다
						<span>
							<span class="txt-price">5,000원</span>줄었어요
							<span class="img-box">
								<img src="../../static/images/icon/ic-arrowUp-circle-prime.svg" alt="">
							</span>
						</span>
					</span>
				</div>
				<!-- 1줄 케이스 : <span class="txt-info"> -->
				<div class="info-price-single">
					<span class="txt-info ">
						선택약정 할인을 <span class="color-prim">신청할 수 있어요!</span>
					</span>
				</div>
				<!-- 2줄 케이스 : <span class="txt-info"> -->
				<div class="info-price-single">
					<span class="txt-info ">
						선택약정 기간이 곧 종료돼요.
						<span>
							<span class="color-prim">선택약정 할인 예약</span>을 통해 혜택을 유지해 보세요!
						</span>
					</span>
				</div>

				<!-- 포인트컬러 추가 건 적용 -->
				<div class="info-price-single">
					<span class="txt-info">
						선택약정 할인 <span class="color-prim">예약 중이에요!</span>
					</span>
				</div>
			</div>
			<!-- Case 청구서 발행 전 -->
			<div class="section__cont summary">
				<div class="cont__wrap cont__wrap-bill">
					<div class="select-billdate">
						<span class="txt-due">2월 1일 ~ 2월 28일</span>
					</div>
					<div class="cont__txt-box">
						<span class="txt-select-wrap">
							<button type="button" class="chips chips-date">
								<span class="txt"><span>24년</span><span>3월</span></span>
								<span class="arrow"></span>
							</button>
							<span class="txt">청구요금은</span>
						</span>
						<span class="txt price">
							<span class="deco">청구 예정</span>이에요
						</span>
					</div>
				</div>
			</div>
			<!-- Case 청구서 없음 -->
			<div class="section__cont summary">
				<div class="cont__wrap cont__wrap-bill">
					<div class="select-billdate">
						<span class="txt-due"></span>
					</div>
					<div class="cont__txt-box">
						<span class="txt-select-wrap">
							<span class="txt">아직 청구서가<br><span class="color-prim">발행되지 않았어요</span></span>
						</span>
					</div>
				</div>
			</div>
			<br/>
			<!-- 실시간 요금 조회 -->
			<div class="section__cont summary">
				<div class="cont__wrap cont__wrap-realtime">
					<div class="select-billdate">
						<span class="txt-due"><span>7월 1일</span>부터 ~ 오늘까지</span>
					</div>
					<div class="cont__txt-box">
						<span class="txt-select-wrap">
							<span class="txt">이번 달 실시간 요금은</span>
						</span>
						<span class="txt price">
							<span class="deco">32,000</span>
							<span class="color-prim">원</span>이에요
						</span>
					</div>
				</div>
			</div>
			<!-- 요금 바로 납부 -->
			<div class="section__cont summary">
				<div class="cont__wrap cont__wrap-account">
					<div class="select-billdate">
						<span class="txt-due"></span>
					</div>
					<div class="cont__txt-box">
						<span class="txt notice">입금전용 계좌로</span>
						<span class="txt price">
							<span class="deco">60,320</span>
							<span class="color-prim">원</span>&nbsp;납부 가능해요
						</span>
					</div>
				</div>
			</div>
			<!-- 사용현황 - 실시간 사용량 -->
			<div class="section__cont summary">
				<div class="cont__wrap cont__wrap-usestate">
					<div class="select-billdate">
						<span class="txt-due"></span>
					</div>
					<div class="cont__txt-box">
						<span class="txt-select-wrap">
							<span class="txt">이번 달 남은 데이터는</span>
						</span>
						<span class="txt price">
							<span class="deco">5.51</span>
							<span class="color-prim">GB</span>예요
						</span>
					</div>
				</div>
			</div>

			<div class="section__cont summary">
				<div class="cont__wrap cont__wrap-bill">
					<div class="select-billdate">
						<span class="txt-due"></span>
					</div>
					<div class="select-billdate">
						<span class="txt-select-wrap">
							<button type="button" class="chips chips-date">
								<span class="txt"><span>24년</span><span>3월</span></span>
								<span class="arrow"></span>
							</button>
							<span class="txt">청구요금은</span>
						</span>
					</div>
					<div class="cont__txt-box">
						<span class="txt price">
							<span class="txt-sub">일반/정기</span>
							<span class="deco">30,000</span>
							<span class="color-prim">원</span>
						</span>
					</div>
					<div class="cont__txt-box">
						<span class="txt price">
							<span class="txt-sub">스토어/콘텐츠</span> 
							<span class="deco">30,000</span>
							<span class="color-prim">원</span>
						</span>
					</div>
					<ul class="bullet-list info">
						<li class="bullet-item">
							신청일을 기준으로 25개월 전 납부내역까지 신청할 수 있습니다. 줄바꿈을 위해 텍스트의 글자수를 늘려봅니다.
						</li>
					</ul>
				</div>
			</div>
			<br/>
			<!-- 납부방법 변경 -->
			<div class="section__cont summary">
				<div class="cont__wrap cont__wrap-payment">
					<div class="select-billdate">
						<span class="txt-due"></span>
					</div>
					<div class="cont__txt-box">
						<span class="txt-select-wrap">
							<span class="txt">현재 요금 납부방법은</span>
						</span>
						<span class="txt price">
							<span class="color-prim">지로</span>예요
						</span>
					</div>
				</div>
			</div>
			<br/>
			<div class="section__cont summary">
				<div class="cont__wrap cont__wrap-payment">
					<div class="select-billdate">
						<span class="txt-due"></span>
					</div>
					<div class="cont__txt-box">
						<span class="txt-select-wrap">
							<span class="txt">현재 요금 납부방법은</span>
						</span>
						<span class="txt price">
							<span class="color-prim">신용카드 자동이체</span>예요
						</span>
					</div>
				</div>
			</div>
			<br/>
			<div class="section__cont summary">
				<div class="cont__wrap cont__wrap-payment">
					<div class="select-billdate">
						<span class="txt-due"></span>
					</div>
					<div class="cont__txt-box">
						<span class="txt-select-wrap">
							<span class="txt">현재 요금 납부방법은</span>
						</span>
						<span class="txt price">
							<span class="color-prim">은행 자동이체</span>예요
						</span>
					</div>
				</div>
			</div>
			<!-- //홀맨 배너 영역 -->

			<div class="section__cont desc">
				<div class="cont__wrap cont__wrap-vertical">
					<div class="info-col-wrap">
						<div class="plan-wrap">
							<div class="col">
								<div class="txt-plan">
									<span class="current sm">12GB</span>
									<span class="total">
										/ 무제한
										<span class="color-prim">D-23일</span>
									</span>
								</div>
								<div class="progress-area realtime">
									<span class="progress-bg">
										<!-- style.width %로 조절 -->
										<span class="progress-bar" style="width:100%;"></span>
									</span>
								</div>
							</div>
							<div class="list-plan desc">
								<div class="row">
									<span class="txt-title">할인유형</span>
									<span class="txt-desc">
										<span class="color-prim bold">선택약정</span>
									</span>
								</div>
								<div class="row">
									<span class="txt-title">
										데이터123<span class="img-box btn-tooltip"><img src="../../static/images/icon/ic-circle-quesition.svg" alt=""></span>
									</span>
									<span class="txt-desc">
										<span>텍스트내용_텍스트-텍스트</span>
									</span>
								</div>
								<div class="row">
									<span class="txt-title">
										할부원금
									</span>
									<span class="txt-desc">
										<span>1,694,000원</span>
										<span class="txt-sub">수수료 미포함</span>
									</span>
								</div>
							</div>
						</div>
						<div class="info-price total-last">
							<span class="row">
								<span class="txt-title">총 청구요금</span>
								<span class="txt-price">
									<span>70,500원</span>
								</span>
							</span>
							<span class="row">
								<span class="txt-title">남은 금액</span>
								<span class="txt-price">
									<span>1,623,500원</span>
								</span>
							</span>
						</div>
					</div>

					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">
								<span class="color-prim">12월</span>
								요금 상세
							</span>
						</h6>
						<ul class="bullet-list info">
							<li class="bullet-item">
								본인 명의의 카드만 등록 가능합니다
							</li>
						</ul>
					</div>

					<div class="card-group benefit">
						<div class="card vertical">
							<div class="card-body">
								<div class="item text">
									<span class="txt">프리미엄 혜택</span>
								</div>
								<div class="item util">
									<span class="img-box">
										<img src="../../static/images/icon/ic-benefit-youtube.png" alt="타이틀">
									</span>
									<span class="item-tit">유투브 프리미엄</span>

								</div>
							</div>
						</div>
						<div class="card vertical">
							<div class="card-body">
								<div class="item text">
									<span class="txt">미디어 혜택</span>
								</div>
								<div class="item util">
									<span class="img-box">
										<img src="../../static/images/icon/ic-benefit-uplay.png" alt="타이틀">
									</span>
									<span class="item-tit">유플레이</span>
								</div>
							</div>
						</div>
					</div>

					<div class="list-payment">
						<div class="info-col-wrap">
							<span class="row total">
								<span class="txt-title">총 청구요금</span>
								<span class="txt-price">
									<span>48,000원</span>
								</span>
							</span>
						</div>
						<div class="info-col-wrap">
							<span class="row">
								<span class="txt-title">총 청구요금</span>
								<span class="txt-price">
									<span>200,000원</span>
								</span>
							</span>
						</div>
					</div>

					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">입금전용 계좌</span>
						</h6>
					</div>
					<div class="card solid bank">
						<div class="card-header">
							<div class="item util">
								<span class="ico-bank ibk">로고아이콘</span>
							</div>
							<div class="item text">
								<span class="tit">은행 계좌번호</span>
								<span class="txt">김유플</span>
							</div>
							<button type="button" class="btn end">종료</button>
						</div>
						<div class="card-footer">
							<div class="btn-group flex-row">
								<button class="btn btn-md" type="button">
									<span class="txt">문자로 전송</span>
								</button>
								<button class="btn btn-md" type="button">
									<span class="txt">복사</span>
								</button>
							</div>
						</div> 
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-sec">
							<span class="txt">입금전용 계좌 추가</span>
						</button>
					</div>
				</div>
				<!-- 발행된 청구서가 있을 경우 -->
				<div class="cont__wrap cont__wrap-vertical">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">요금 상세</span>
							<span class="txt-sub">(부가가치세 포함)</span>
						</h6>
						<div class="tit-tail">
							<button type="button" class="chips chips-all is-selected">
								<span class="txt">전체접힘</span>
								<span class="arrow"></span>
							</button>
						</div>
					</div>
					<!-- 아코디언2개이상 + 총청구요금 : list-payment  > info-price-wrap -->
					<div class="list-payment">
						<div class="info-price-wrap">
							<!-- open 클래스로 show/hide 조정 -->
							<div class="list-info-price accordion-container open"><!-- 열림 -->
								<!-- 닫힘 <div class="list-info-price accordion-container open"> -->
								<button class="info-price accordion-header"><!-- 아코디언 버튼 -->
									<span class="row txt-title">
										<div class="badge badge-round">
											<span class="txt">A</span>
										</div>
										<span>휴대폰 이용요금</span>
									</span>
									<span class="row txt-price">
										<span>60,000원</span>
										<span class="img-box ico-toggle">
											<img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
										</span>
									</span>
								</button>
								<div class="accordion-content"><!-- 아코디언 컨텐트 -->
									<ul class="info-price-detail">
										<li class="info-wrap">
											<!-- default -->
											<span class="row">
												<span class="txt-title ico">
													월정액
												</span>
												<span class="txt-price">105,000원</span>
											</span>
										</li>
										<li class="info-wrap">
											<span class="row">
												<span class="txt-title ico">
													할인요금
												</span>
												<span class="txt-price">-45,000원</span>
											</span>
											<ul class="col list-detail">
												<li class="row">
													<span class="txt-title">
														태블릿/스마트기기 요금무료(슈퍼스페셜 C/D)
													</span>
													<span class="txt-price">-22,000원</span>
												</li>
												<li class="row">
													<span class="txt-title">선택약정 25% 할인</span>
													<span class="txt-price">-18,000원</span>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
	
							<div class="list-info-price accordion-container open"><!-- 열림 -->
							<!-- 닫힘 <div class="list-info-price accordion-container open"> -->
								<button class="info-price accordion-header"><!-- 아코디언 버튼 -->
									<span class="row txt-title">
										<span class="badge badge-round">
											<span class="txt">B</span>
										</span>
										<span>부가서비스 및 구독 혜택 사용요금</span>
									</span>
									<span class="row txt-price">
										<span>10,000원</span>
										<span class="img-box ico-toggle">
											<img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
										</span>
									</span>
								</button>
								<div class="accordion-content"><!-- 아코디언 컨텐트 -->
									<ul class="info-price-detail">
										<li class="info-wrap">
											<!-- default -->
											<span class="row">
												<span class="txt-title ico">
													바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)<br />
													바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)바이브 마음껏 듣기 (음악감상, 뮤직스트리밍무제한)
												</span>
												<span class="txt-price">5,000원</span>
											</span>
										</li>
										<li class="info-wrap">
											<span class="row">
												<span class="txt-title ico">
													맘대로 폰교체 / 맘대로 폰교체 플러스
												</span>
												<span class="txt-price">5,000원</span>
											</span>
										</li>
									</ul>
								</div>
							</div>
	
							<div class="list-info-price accordion-container open"><!-- 닫힘 -->
							<!-- 열림 <div class="list-info-price accordion-container open"> -->
								<button class="info-price accordion-header"><!-- 아코디언 버튼 -->
									<span class="row txt-title">
										<span class="badge badge-round">
											<span class="txt">C</span>
										</span>
										<span>기기 이용요금</span>
									</span>
									<span class="row txt-price">
										<span>999,999원</span>
										<span class="img-box ico-toggle">
											<img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
										</span>
									</span>
								</button>
								<div class="accordion-content"><!-- 아코디언 컨텐트 -->
									<ul class="info-price-detail">
										<li class="info-wrap">
											<!-- default -->
											<span class="row">
												<span class="txt-title ico">
													항목1111
												</span>
												<span class="txt-price">2,450,000원</span>
											</span>
										</li>
										<li class="info-wrap">
											<span class="row">
												<span class="txt-title ico">
													항목1-1111
												</span>
												<span class="txt-price">-999,000원</span>
											</span>
											<ul class="col list-detail">
												<li class="row">
													<span class="txt-title">항목1-1.상세내용상세내용상세내용상세내용상세내용상세내용</span>
													<span class="txt-price">-9,990원</span>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
	
							<div class="list-info-price accordion-container"> <!-- 상세내역 없는 경우 : open 추가x -->
								<button class="info-price accordion-header">
									<span class="row txt-title">
										<span class="badge badge-round">
											<span class="txt">D</span>
										</span>
										<span>미납요금</span>
									</span>
									<span class="row txt-price">
										<span>10,200원</span>
										<span class="img-box ico-toggle">
											<img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
										</span><!-- 상세내역 없는 경우 : img display:none 적용img-box ico-toggle 남기기 -->
									</span>
								</button>
							</div>
						</div>
						<div class="info-price-wrap">
							<div class="info-price total-last">
								<span class="row">
									<span class="txt-title">
										<div class="badge badge-round"><span class="txt">A+B+C+D</span></div>총 청구요금
									</span>
									<span class="txt-price">
										1,080,199원
									</span>
								</span>
								<!-- <span class="txt-sub">(부가가치세 포함)</span> -->
							</div>
						</div>
					</div>

					<div class="info-col-wrap">
						<div class="row">
							<span class="txt-title">이용 중인 요금제</span>
							<span class="txt-desc">
								<span>5G 프리미어 에센셜</span>
							</span>
						</div>
					</div>
				</div>

				<!-- 발행된 청구서가 없을 경우 -->
				<div class="cont__wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">[청구서 미발행 케이스]_요금 상세</span>
						</h6>
					</div>
					<div class="card solid center">
						<div class="card-body">
							<span class="img-box">
								<img src="../../static/images/icon/ic-card-roaming_x.svg" alt="">
							</span>
							<div class="text-box">
								<span class="txt">아직 발행된 청구서가 없어요</span>
							</div>
						</div>
					</div>
				</div>

				<div class="cont__wrap cont__wrap-vertical">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">납부 상세</span>
						</h6>
						<div class="tit-tail btn-group">
							<button type="button" class="btn btn-sec btn-md">
								<span class="txt">변경</span>
							</button>
						</div>
					</div>
					<div class="info-col-wrap">
						<div class="row">
							<span class="txt-title">납부방법</span>
							<span class="txt-desc">
								<span>은행자동이체</span>
							</span>
						</div>
						<div class="row">
							<span class="txt-title">납부 예정일</span>
							<span class="txt-desc">
								<!-- <span class="flag flag-line primary">
									<span class="txt">이용예정</span>
								</span> -->
								<span>N월 NN일</span>
							</span>
						</div>
					</div>
					<div class="bullet-wrap caution">
						<h5 class="bullet-caption">
							유의사항
						</h5>
						<ul class="bullet-list">
							<li class="bullet-item">
								청구서는 2024년 3월 4일 기준으로 작성되었습니다.
							</li>
							<li class="bullet-item">
								납기일 이후 납부하는 경우 다음달 요금에 2% 연체가산금이 추가됩니다.
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="section__cont desc">
				<div class="cont__wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">실시간 요금 상세</span>
							<span class="txt-sub">(부가가치세 포함)</span>
						</h6> 
					</div>
					<div class="info-price-wrap">
						<!-- open 클래스로 show/hide 조정 -->
						<div class="list-info-price accordion-container open">
							<button class="info-price accordion-header"><!-- 아코디언 버튼 -->
								<span class="row txt-title">
									<div class="badge badge-round">
										<span class="txt">A</span>
									</div>
									<span>휴대폰 이용요금</span>
								</span>
								<span class="row txt-price">
									<span>60,000원</span>
									<span class="img-box ico-toggle">
										<img src="../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
									</span>
								</span>
							</button>
							<div class="accordion-content"><!-- 아코디언 컨텐트 -->
								<ul class="info-price-detail">
									<li class="info-wrap">
										<!-- default -->
										<span class="row">
											<span class="txt-title ico">
												월정액
											</span>
											<span class="txt-price">72,000원</span>
										</span>
									</li>
									<li class="info-wrap">
										<span class="row">
											<span class="txt-title ico">
												할인요금
											</span>
											<span class="txt-price">-12,000원</span>
										</span>
										<ul class="col list-detail">
											<li class="row">
												<span class="txt-title">선택약정 25% 할인</span>
												<span class="txt-price">-12,000원</span>
											</li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<!-- 무제한 요금제 -->
				<div class="cont__wrap cont__wrap-vertical">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">[무제한 케이스]_실시간 데이터 상세</span>
						</h6> 
					</div>
					<div class="info-col-wrap">
						<div class="row title-wrap">
							<span class="txt-title ico">
								<span class="img-box">
									<img src="../../static/images/icon/ic-circle-chart.svg" alt="">
								</span>
								데이터
							</span>
							<button class="chips neutral">
								<span class="txt">선물/충전</span>
							</button>
						</div>
						<div class="plan-wrap">
							<div class="col">
								<div class="txt-plan">
									<span class="current">12GB</span>
									<span class="total"> / 무제한</span>
								</div>
								<div class="progress-area realtime">
									<span class="progress-bg">
										<!-- style.width %로 조절 -->
										<span class="progress-bar" style="width:100%;"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-sec">
							<span class="txt">실시간 사용량 보기</span>
						</button>
					</div>
					<div class="bullet-wrap caution">
						<h5 class="bullet-caption">
							유의사항
						</h5>
						<ul class="bullet-list">
							<li class="bullet-item">
								청구서는 2024년 3월 4일 기준으로 작성되었습니다.
							</li>
							<li class="bullet-item">
								납기일 이후 납부하는 경우 다음달 요금에 2% 연체가산금이 추가됩니다.
							</li>
						</ul>
					</div>
				</div>
				<!-- 속도제한 요금제 -->
				<div class="cont__wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">[속도제한 케이스]_실시간 데이터 상세</span>
						</h6> 
					</div>
					<div class="info-col-wrap">
						<div class="row title-wrap">
							<span class="txt-title ico">
								<span class="img-box">
									<img src="../../static/images/icon/ic-circle-chart.svg" alt="">
								</span>
								데이터
							</span>
							<button class="chips neutral">
								<span class="txt">선물/충전</span>
							</button>
						</div>
						<div class="plan-wrap">
							<div class="col">
								<div class="txt-plan">
									<span class="current">8.49GB</span>
									<span class="total">/ 14GB</span>
								</div>
								<div class="progress-area realtime">
									<span class="progress-bg">
										<!-- style.width %로 조절 -->
										<span class="progress-bar" style="width:37%;"></span>
									</span>
								</div>
								<p class="txt-caution">+ 다 쓰면 최대 1Mbps</p>
							</div>
						</div>
					</div>
				</div>

				<!-- 종량형 요금제 -->
				<div class="cont__wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">[종량형 케이스]_실시간 데이터 상세</span>
						</h6> 
					</div>
					<div class="info-col-wrap">
						<div class="row title-wrap">
							<span class="txt-title ico">
								<span class="img-box">
									<img src="../../static/images/icon/ic-circle-chart.svg" alt="">
								</span>
								데이터
							</span>
							<button class="chips neutral">
								<span class="txt">선물/충전</span>
							</button>
						</div>
						<div class="plan-wrap">
							<div class="col">
								<div class="txt-plan">
									<span class="current">8.49GB</span>
									<span class="total">/ 14GB</span>
								</div>
								<div class="progress-area realtime">
									<span class="progress-bg">
										<!-- style.width %로 조절 -->
										<span class="progress-bar" style="width:37%;"></span>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 쓰는만큼내는 요금제 -->
				<div class="cont__wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">[쓰는만큼내는 케이스]_실시간 데이터 상세</span>
						</h6> 
					</div>
					<div class="info-col-wrap">
						<div class="row title-wrap">
							<span class="txt-title ico">
								<span class="img-box">
									<img src="../../static/images/icon/ic-circle-chart.svg" alt="">
								</span>
								데이터
							</span>
							<button class="chips neutral">
								<span class="txt">선물/충전</span>
							</button>
						</div>
						<div class="plan-wrap">
							<div class="col">
								<div class="txt-plan">
									<span class="current">10GB</span>
									<span class="total">/ 1MB당 286.72원</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 실시간 사용량 -->
				<div class="cont__wrap cont__wrap-vertical">
					<div class="info-col-wrap">
						<div class="row title-wrap">
							<span class="txt-title ico">
								<span class="img-box">
									<img src="../../static/images/icon/ic-circle-chart.svg" alt="">
								</span>
								데이터
							</span>
							<button class="chips neutral">
								<span class="txt">선물/충전</span>
							</button>
						</div>
						<div class="plan-wrap"> 
							<div class="col">
								<div class="txt-plan">
									<span class="current">12GB</span>
									<span class="total">/ 무제한</span>
								</div>
								<div class="progress-area realtime">
									<span class="progress-bg">
										<!-- style.width %로 조절 -->
										<span class="progress-bar" style="width:100%;"></span>
									</span>
								</div>
								<p class="txt-caution">+ 다 쓰면 최대 1Mbps</p>
							</div>
							<div class="col accordion-container open">
								<div class="list-plan accordion-content">
									<div class="row">
										<span class="txt-title">
											참 쉬운 가족 데이터<span class="img-box btn-tooltip"><img src="../../static/images/icon/ic-circle-quesition.svg" alt=""></span>
										</span>
										<span class="txt-desc">
											<span class="current">0GB</span>
											<span class="total">/ 50GB</span>
										</span>
									</div>
									<div class="row">
										<span class="txt-title">
											자회선 월 기본제공 데이터<span class="img-box btn-tooltip"><img src="../../static/images/icon/ic-circle-quesition.svg" alt=""></span>
											<span class="txt-phone">(010-1234-5678)</span>
										</span>
										<span class="txt-desc">
											<span class="current">250MB</span>
											<span class="total">/ 500MB</span>
										</span>
									</div>
								</div>
								<button class="btn-toggle accordion-header">
									<span class="txt">자세히 보기</span>
									<span class="img-box ico-toggle">
										<img src="../../static/images/icon/ic-chips-arrow-gray.svg">
									</span>
								</button>
							</div>
						</div>
					</div>
					<div class="info-col-wrap">
					<div class="row title-wrap">
						<span class="txt-title ico">
							<span class="img-box">
								<img src="../../static/images/icon/ic-circle-sharing.svg" alt="">
							</span>
							쉐어링
						</span>
					</div>
					<div class="plan-wrap">
						<div class="col">
							<div class="txt-plan">
								<span class="current">8GB</span>
								<span class="total">/ 50GB</span>
							</div>
							<div class="progress-area realtime">
								<span class="progress-bg">
									<!-- style.width %로 조절 -->
									<span class="progress-bar" style="width:40%;"></span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="info-col-wrap">
					<div class="row title-wrap">
						<span class="txt-title ico">
							<span class="img-box">
								<img src="../../static/images/icon/ic-circle-tethering.svg" alt="">
							</span>
							테더링
						</span>
					</div>
					<div class="plan-wrap">
						<div class="col">
							<div class="txt-plan">
								<span class="current">8GB</span>
								<span class="total">/ 50GB</span>
							</div>
							<div class="progress-area realtime">
								<span class="progress-bg">
									<!-- style.width %로 조절 -->
									<span class="progress-bar" style="width:40%;"></span>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="info-col-wrap">
					<div class="plan-wrap">
						<div class="list-plan">
							<div class="row">
								<span class="txt-title ico">
									<span class="img-box">
										<img src="../../static/images/icon/ic-circle-call.svg" alt="">
									</span>
									이통3사&유무선
								</span>
								<span class="txt-desc">
									<span class="current">54분 56초</span>
									<span class="total">/ 무제한</span>
								</span>
							</div>
							<div class="row">
								<span class="txt-title ico">
									<span class="img-box">
										<img src="../../static/images/icon/ic-circle-video.svg" alt="">
									</span>
									영상&부가
								</span>
								<span class="txt-desc">
									<span class="current">40분</span>
									<span class="total">/ 300분</span>
								</span>
							</div>
							<div class="row">
								<span class="txt-title ico">
									<span class="img-box">
										<img src="../../static/images/icon/ic-circle-message.svg" alt="">
									</span>
									문자
								</span>
								<span class="txt-desc">
									<span class="current">11건</span>
									<span class="total">/ 무제한</span>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 해외로밍 실시간 조회 : 이용 전 -->
			<div class="cont__wrap cont__wrap-vertical">
				<div class="con__tit-box">
					<h6 class="tit-head">
						<span class="txt-title">[해외로밍 실시간조회]_이용 전</span>
					</h6> 
				</div>

				<div class="info-col-wrap">
					<div class="row title-wrap">
						<span class="txt-title ico">
							<span class="img-box">
								<img src="../../static/images/icon/ic-circle-call.svg" alt="">
							</span>
							음성통화
						</span>
					</div>
					<div class="plan-wrap line">
						<div class="list-plan">
							<div class="row">
								<span class="txt-title">현지발신</span>
								<span class="txt-desc">
									<span class="current">-초</span>
									<span class="total">/ 무제한</span>
								</span>
							</div>
							<div class="row">
								<span class="txt-title">국제발신</span>
								<span class="txt-desc">
									-초/1.98원
									<span class="current">-초</span>
									<span class="total">/ 1.98원</span>
								</span>
							</div>
						</div>
					</div>
				</div>
				
				<div class="info-col-wrap">
					<div class="row title-wrap">
						<span class="txt-title ico">
							<span class="img-box">
								<img src="../../static/images/icon/ic-circle-chart.svg" alt="">
							</span>
							데이터
						</span>
						<span class="txt-desc">무제한</span>
					</div>
					<div class="plan-wrap line">
						<div class="list-plan">
							<div class="row">
								<span class="txt-title">공유데이터</span>
								<span class="txt-desc">테더링50GB+쉐어링50GB</span>
							</div>
						</div>
					</div>
				</div>

				<div class="info-col-wrap">
					<div class="row title-wrap">
						<span class="txt-title ico">
							<span class="img-box">
								<img src="../../static/images/icon/ic-circle-message.svg" alt="">
							</span>
							문자
						</span>
						<span class="txt-desc">
							<span class="current">-건</span>
							<span class="total">/ 300건</span>
						</span>
					</div>
				</div>
			</div>

			<!-- 해외로밍 이용내역 -->
			<div class="cont__wrap cont__wrap-vertical">
				<div class="con__tit-box">
					<h6 class="tit-head">
						<span class="txt-title">[해외로밍 이용내역]_CASE</span>
					</h6> 
				</div>

				<!-- 캡션만 있는 라운드 그레이 박스 -->
				<div class="caption-wrap">
					<p class="caption">90일 전까지 조회됩니다</p>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>
</body>
</html>