<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>LGU+ 보이는 ARS</title>

	<!-- Css -->
	<!-- 공통 Css : 필수 -->
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">

	<!-- Scripts -->
</head>

<body>
<div class="page-wrapper">
	<!-- container -->
	<div class="container">
		<!-- 상담 영역 -->
		<div class="section__cont counsel">
			<div class="cont__wrap cont__wrap-counsel accordion-container">
				<div class="btn-group conversion">
					<button class="btn" type="button">
						<span class="txt">음성 ARS 이동</span>
					</button>
					<span class="divider"></span>
					<button class="btn" type="button">
						<span class="txt">홈 고객센터 이동</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
</div>

</body>

</html>
