<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<meta name="theme-color" content="#ffffff">
	<title>LGU+ 보이는 ARS</title>

	<!-- Css -->
	<!-- 공통 Css : 필수 -->
	<link rel="stylesheet" type="text/css" href="../static/css/common.css">

	<!-- Scripts -->
</head>

<body>
<div class="page-wrapper">
	<!-- container -->
	<div class="container">
		<!-- 디바이더 영역 -->
		<div class="section__divider"></div>
		<!-- 상담 영역 -->
		<div class="section__cont counsel">
			<div class="cont__wrap">
				<div class="con__tit-box">
					<h6 class="tit-head">
						<span class="txt-title">아래 메뉴도 추천해요</span>
					</h6>
					<div class="tit-tail hidden"></div>
				</div>
				<div class="card-group">
					<div class="card" role="button" tabindex="0">
						<div class="card-body">
							<div class="item util">
								<span class="img-box">
									<img src="../static/images/icon/ic-menu/ic-billingCharge.svg" alt="청구요금">
								</span>
							</div>
							<div class="item text">
								<span class="tit">청구요금</span>
								<span class="txt">이번 달과 지난달<br>요금 조회</span>
							</div>
						</div>
					</div>
					<div class="card" role="button" tabindex="0">
						<div class="card-body">
							<div class="item util">
								<span class="img-box">
									<img src="../static/images/icon/ic-menu/ic-immePayment.svg" alt="요금 바로 납부">
								</span>
							</div>
							<div class="item text">
								<span class="tit">요금 바로 납부</span>
								<span class="txt">청구요금 미리납부</span>
							</div>
						</div>
					</div>
					
				</div>
			</div>

			<!-- 
					아코디언 닫힘 상태(기본) > 오픈시 : open 클래스 추가 
					<div class="cont__wrap cont__wrap-counsel accordion-container open">
				-->
			<div class="cont__wrap cont__wrap-counsel accordion-container">
				<div class="con__tit-box accordion-header" role="button" tabindex="0">
					<span class="txt-sub">문의사항을 찾기 어려우신가요?</span>
					<h6 class="tit-head">
						<span class="txt-title">다른 상담채널을 이용해 보세요</span>
					</h6>
					<div class="tit-tail">
						<span class="img-box ico-toggle">
							<img src="../static/images/icon/ic-councel-down.svg" alt="">
						</span>
					</div>
				</div>
				<div class="card-group threeby accordion-content">
					<div class="card detail" role="button" tabindex="0">
						<div class="card-body">
							<div class="item util">
								<span class="img-box">
									<img src="../static/images/icon/ic-card-chatbot2.svg" alt="챗봇 상담">
								</span>
							</div>
							<div class="item text">
								<span class="tit">챗봇 상담</span>
								<span class="txt">대기없이 바로</span>
							</div>
						</div>
					</div>
					<div class="card detail" role="button" tabindex="0">
						<div class="card-body">
							<div class="item util">
								<span class="img-box">
									<img src="../static/images/icon/ic-card-ars-ai.svg" alt="AI 상담">
								</span>
							</div>
							<div class="item text">
								<span class="tit">AI 상담</span>
								<span class="txt">언제든지 빠른</span>
							</div>
						</div>
					</div>
					<div class="card detail" role="button" tabindex="0">
						<div class="card-body">
							<div class="item util">
								<span class="img-box">
									<img src="../static/images/icon/ic-card-calls.svg" alt="전화 상담">
								</span>
							</div>
							<div class="item text">
								<span class="tit">전화 상담</span>
								<span class="txt">상세하고 친절한</span>
							</div>
						</div>
						<div class="card-footer">
							<div class="chips chips-tag hidden">
								<span class="txt">점심시간</span>
							</div>
						</div> 
					</div>
				</div>
			</div>

			<div class="cont__wrap cont__wrap-counsel accordion-container open">
				<div class="con__tit-box accordion-header" role="button" tabindex="0">
					<span class="txt-sub">문의사항을 찾기 어려우신가요?</span>
					<h6 class="tit-head">
						<span class="txt-title">다른 상담채널을 이용해 보세요</span>
					</h6>
					<div class="tit-tail">
						<span class="img-box ico-toggle">
							<img src="../static/images/icon/ic-councel-down.svg" alt="">
						</span>
					</div>
				</div>
				<div class="card-group threeby accordion-content">
					<div class="card detail" role="button" tabindex="0">
						<div class="card-body">
							<div class="item util">
								<span class="img-box">
									<img src="../static/images/icon/ic-card-chatbot2.svg" alt="챗봇 상담">
								</span>
							</div>
							<div class="item text">
								<span class="tit">챗봇 상담</span>
								<span class="txt">대기없이 바로</span>
							</div>
						</div>
					</div>
					<div class="card detail" role="button" tabindex="0">
						<div class="card-body">
							<div class="item util">
								<span class="img-box">
									<img src="../static/images/icon/ic-card-ars-ai.svg" alt="AI 상담">
								</span>
							</div>
							<div class="item text">
								<span class="tit">AI 상담</span>
								<span class="txt">언제든지 빠른</span>
							</div>
						</div>
					</div>
					<div class="card detail" role="button" tabindex="0">
						<div class="card-body">
							<div class="item util">
								<span class="img-box">
									<img src="../static/images/icon/ic-card-calls.svg" alt="전화 상담">
								</span>
							</div>
							<div class="item text">
								<span class="tit">전화 상담</span>
								<span class="txt">상세하고 친절한</span>
							</div>
						</div>
						<div class="card-footer">
							<div class="chips chips-tag hidden">
								<span class="txt">점심시간</span>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
</div>

</body>

</html>
