@import "../scss/base/mixin";
.cont__wrap {
    &.cont__wrap-segment {
		.list-payment {
            padding:0 20px;
			margin-top: 24px;
            > .card.solid:nth-last-child(1) {
                margin-top:4px;
            }
            & + .btn-group {
                padding:16px 20px 0;
            }
		}
		.btn-box {
			padding-top: 8px;
            .chips-group {
                flex-wrap: nowrap;
                gap: 4px;
                padding-left:20px;
                padding-bottom:6px;
                overflow-x: auto;
                .chips:last-child {margin-right:20px;}
            }
            .btn.appStore {
                width:calc(100% - 40px);
                margin:16px auto 0;
            }
		}
        .card {
            &.payUsed {
                gap:12px;
                padding:20px;
                .used-date {
                    @include fw-5(12px);
                    line-height: 18px;
                    color: var(--dt-gray11);
                }
                .card-body {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    .used-info {
                        @include flexBox(between, center);
                        flex-wrap: wrap;
                        .used-name {
                            @include fw-5(14px);
                            line-height: 150%;
                            color: var(--dt-gray14);
                        }
                        .used-won {
                            @include fw-7(16px);
                            line-height: 150%;
                            color: var(--dt-black);
                            text-align:right;
                            flex: 1;
                        }
                        .flag {
                            .txt {line-height:140%;letter-spacing: -0.5px;}
                        }
                        .txt-sub {
                            font-size:14px;
                            line-height:150%;
                            margin-top: 0;
                        }
                    }
                }
            }
        }
	}
}
.popup-body:has(.appPaid-wrap) {padding-bottom:30px;}
.appPaid-wrap {
    background-color: var(--dt-gray02);
    border-radius: 8px;
    padding: 24px 20px;
    .appStore {
        padding: 16px;
        background-color: var(--dt-white);
        border: none;
        border-radius: 8px;
        pointer-events:none;
        .txt-wrap {
            gap: 4px;
            .txt {
                @include fw-5(14px);
                line-height: 21px;
                color: var(--dt-black);
            }
        }
    }
    .info-box {
        @include flexRow;
        align-items:center;
        justify-content:center;
        flex-wrap: wrap;
        margin-top: 20px;
        border-radius: 8px;
        gap: 4px;
        .txt {
            @include fw-5(14px);
            line-height: 140%;
            color: var(--dt-gray14);
            letter-spacing: -0.5px;
        }
    }
    & + .bullet-list {margin-top:8px;}
}