@import "../scss/base/mixin";
.roamingAdditional {
	// search : 로밍부가서비스 조회
	.section__cont:not(.counsel) {
		display: flex;
		flex-direction: column;
		gap: 48px;
		padding-top: 72px;
	}
	.card-group {
		&.flex-column {
			gap: 16px;
		}
	}

	// 서비스 : 상세
	.cont__wrap-service.rmDetail {
		// background-color: var(--dt-gray05);
		.con__tit-box {
			flex-direction: column;
			margin-bottom: 20px;
			gap: 12px;
			.text-box {
				text-align: left;
				gap: 6px;
				.tit {
					@include fw-7(22px);
				}
				.txt {
					line-height: 1.5;
				}
			}
		}
		.card {
			&.rmInform {
				box-shadow: none;
				border-radius: 16px;
				padding: 28px 20px;
				.card-body {
					gap: 28px;
				}
				.item {
					flex-direction: column;
					gap: 6px;
					.btn-group {
						.btn {
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 14px 4px;
							gap: 4px;
						}
					}
				}
				.tit {
					@include fw-7(18px);
					color: var(--dt-gray14);
				}
				.announceMent {
					margin-bottom: 12px;
					gap: 12px;
					.card {
						.card-body {
							gap: 8px;
						}
					}
				}
				.announcePhone {
					margin-bottom: 12px;
					gap: 12px;
					.tit {
						span {
							@include fw-7(18px);
							color: var(--dt-gray14);
						}
					}
					.phoneList {
						grid-template-columns: repeat(1, 1fr);
						gap: 12px;
						> .card {
							padding: 14px 20px;
							.card-body {
								gap: 8px;
								.text {
									align-items: flex-start;
								}
								.tit {
									font-size: 16px;
									color: var(--dt-gray16);
								}
							}
							.card-footer {
								.close {
									width: 24px;
									height: 24px;
									background-image: url(../images/icon/ic-card_close_small_line.svg);
									background-repeat: no-repeat;
									background-size: cover;
									background-position: center center;
								}
							}
						}
					}
				}
			}
		}
	}
}

// 서비스 : 상세 페이지 배경변경용
body:has(.cont__wrap-service.rmDetail) {
	background-color: var(--dt-gray05);
}