// 색상 선언(팔레트)
$transparent: transparent;
$white: #FFFFFF;
$black: #000000;

$gray-100: #F9FAFB;
$gray-200: #F3F5F6;
$gray-300: #DCE0E5;
$gray-400: #A8B3BD;
$gray-500: #7F8A94;
$gray-600: #66707A;
$gray-700: #525960;
$gray-800: #3B4044;
$gray-900: #181A1B;
$darknavy-10: #F6F7FC;
$darknavy-50: #EEF1FD;
$darknavy-100: #E3E6F1;
$darknavy-200: #DCE6FF;
$darknavy-700: #DCE6FF;
$darknavy-900: #31354D;

$red-100: #FF8F98;
$red-200: #FF515E;
$red-300: #BB2B35;
$pink-100: #FFC1E6;
$pink-200: #FF64C0;
$pink-300: #C12883;
$orange-100: #FFC183;
$orange-200: #EE8B28;
$orange-300: #AA5A09;
$yellow-100: #FFD874;
$yellow-200: #F4A800;
$yellow-300: #A27000;
$green-100: #A8F6CE;
$green-200: #35C27B;
$green-300: #147E49;
$mint-100: #79D5CF;
$mint-200: #08B6AC;
$mint-300: #008D85;
$blue-100: #88A6FF;
$blue-200: #4472FF;
$blue-300: #0E45EE;
$purple-100: #D3C3FF;
$purple-200: #A687FF;
$purple-300: #8155F8;
$warmgray-100: #A8B3BD;
$warmgray-200: #707982;
$warmgray-300: #5B636B;
$bluegray-100: #8EA5CE;
$bluegray-200: #576C91;
$bluegray-300: #425474;

$primary: #E30084;
$success: #00AA02;
$warning: #F86800;
$error: #E22A21;


@mixin color {
	/* 기본 색상 */
	--white: #{$white};
	--black: #{$black};

	/* 시스템 컬러 */
	--color-primary: #{$primary};
	--color-success: #{$success};
	--color-warning: #{$warning};
	--color-error: #{$error};
	
	/* 배경색 */
	--color-bg: #{$white};
	--color-bg-alt: #{$darknavy-10};

	/* 텍스트 색상 */
	--text-default: #{$gray-900};
	--text-light: #{$gray-600};
	--text-disabled: #{$gray-400};
	--text-inverse: #{$white};
	--text-primary: var(--color-primary);
	--text-success: var(--color-success);
	--text-warning: var(--color-warning);
	--text-error: var(--color-error);
	
	/* 테두리 */
	--color-border: #{$gray-400};
	--color-border-light: #{$gray-300};
	--color-border-lighter: #{$gray-200};
	--color-border-inverse: #{$white};
}