// font-face mixin
@mixin font-face($name, $file, $weight, $style: normal) {
	@font-face {
		font-family: '#{$name}';
		src: url('../../fonts/#{$file}.woff2') format('woff2');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

/* Pretendard Font Family 정의 */
@include font-face('Pretendard', 'Pretendard-Thin', 100);
@include font-face('Pretendard', 'Pretendard-ExtraLight', 200);
@include font-face('Pretendard', 'Pretendard-Light', 300);
@include font-face('Pretendard', 'Pretendard-Regular', 400);
@include font-face('Pretendard', 'Pretendard-Medium', 500);
@include font-face('Pretendard', 'Pretendard-SemiBold', 600);
@include font-face('Pretendard', 'Pretendard-Bold', 700);
@include font-face('Pretendard', 'Pretendard-ExtraBold', 800);
@include font-face('Pretendard', 'Pretendard-Black', 900);