<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<title>LGU+ 보이는 ARS</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../static/css/common.css">
	<!-- <link rel="stylesheet" type="text/css" href="../../../static/css/style.css"> -->

	<!-- Scripts -->
</head>

<body>
<div class="page-wrapper">
	<!-- container -->
	<div class="container">
		<div class="section__cont">
			<div class="cont__wrap cont__wrap-layout singleCont middleAlign">
				<div class="inform-wrap">
					<span class="inform-img warning"></span>
					<div class="text-box">
						<span class="tit">타이틀 문구</span>
						<span class="txt"><span class="color-prim">강조 </span> 서브 문구</span>
					</div>
				</div>
				<div class="btn-group dynamic-btn flex-column">
					<button class="btn" type="button">
						<span class="txt">주 버튼</span>
					</button>
					<button class="btn" type="button">
						<span class="txt">부 버튼</span>
					</button>
					<button class="btn" type="button">
						<span class="txt">부 버튼</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- //container -->
</div>

</body>

</html>
