<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<!-- Set the viewport. -->
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1.0">
	<!-- Disable automatic phone number detection. -->
	<meta name="format-detection" content="telephone=no, address=no, email=no">
	<title>LGU+ 보이는 ARS</title>

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="../../../static/css/common.css">
	<link rel="stylesheet" type="text/css" href="../../../static/css/style.css">

	<!-- Scripts -->
</head>

<body>
<div class="page-wrapper">
	<!-- container -->
	<div class="container">
		<div class="section__cont">
			<div class="cont__wrap cont__wrap-layout singleCont middleAlign">
				<div class="inform-wrap">
					<span class="inform-img warning"></span>
					<div class="text-box">
						<span class="tit">보이는 ARS 화면이 표시되지 않았습니다</span>
						<span class="tit">보이는 ARS를 안전하게 이용하기 위해 아래 문제를 해결해주세요</span>
					</div>
				</div>
				
				<div class="inform-wrap">
					<div class="text-box">
						<span class="txt">1. 중복탭이 열려있는 경우 중복된 탭을 닫고 원본탭을 선택해 주세요.</span>
						<span class="txt">2. 인터넷 브라우저 창이 많이 열려있을 경우 인터넷 사용 기록(캐시) 삭제 후 재 접속해주세요.</span>
					</div>
				</div>
				<!-- <div class="service-wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">인터넷 사용 기록(캐시) 삭제 방법</span>
						</h6>
					</div>

					<div class="accordion-group card solid">
						<div class="accordion-container open">
							<div class="accordion-header" role="button">
								<span class="txt-title">
									크롬 브라우저
								</span>
								<span class="img-box ico-toggle">
									<img src="../../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
								</span>
							</div>
							<div class="accordion-content">
								<ul class="bullet-list">
									<li class="bullet-item">크롬 실행 > 상단 <span class="color-prim">점 세게</span> 아이콘 선택</li>
									<li class="bullet-item"><span class="color-prim">인터넷 사용 기록 삭제</span> 선택</li>
									<li class="bullet-item">삭제 기간 <span class="color-prim">전체 기간 선택</span> > <span class="color-prim">데이터 삭제</span> > 완료</li>
								</ul>
							</div>
						</div>
	
						<div class="accordion-container open">
							<div class="accordion-header" role="button">
								<span class="txt-title">
									삼성 브라우저
								</span>
								<span class="img-box ico-toggle">
									<img src="../../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
								</span>
							</div>
							<div class="accordion-content">
								<ul class="bullet-list">
									<li class="bullet-item"><span class="color-prim">설정</span> > <span class="color-prim">애플리케이션</span> > <span class="color-prim">삼성 인터넷</span> 선택</li>
									<li class="bullet-item">삼성 인터넷 설정 > <span class="color-prim">인터넷 사용 기록</span> > <span class="color-prim">데이터 삭제</span> > 완료</li>
								</ul>
							</div>
						</div>
	
						<div class="accordion-container ">
							<div class="accordion-header" role="button">
								<span class="txt-title">
									사파리(Safari) 브라우저
								</span>
								<span class="img-box ico-toggle">
									<img src="../../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
								</span>
							</div>
							<div class="accordion-content">
								<ul class="bullet-list">
									<li class="bullet-item"><span class="color-prim">설정</span> > 앱 > <span class="color-prim">사파리</span>로 이동</li>
									<li class="bullet-item"><span class="color-prim">방문 기록 및 웹사이트 데이터 지우기</span> 선택</li>
									<li class="bullet-item"><span class="color-prim">모든 방문 기록, 모든 탭 닫기</span>선택</li>
									<li class="bullet-item"><span class="color-prim">방문 기록 지우기</span> > 완료</li>
								</ul>
							</div>
						</div>
					</div>
				</div> -->
				<div class="service-wrap">
					<div class="con__tit-box">
						<h6 class="tit-head">
							<span class="txt-title">인터넷 사용 기록(캐시) 삭제 방법</span>
						</h6>
					</div>
					<div class="accordion-group card solid">
						<div class="accordion-container open">
							<div class="accordion-header" role="button">
								<span class="txt-title">
									크롬 브라우저
								</span>
								<span class="img-box ico-toggle">
									<img src="../../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
								</span>
							</div>
							<div class="accordion-content">
								<ul class="bullet-list">
									<li class="bullet-item">크롬 실행 > 상단 <span class="color-prim">점 세게</span> 아이콘 선택</li>
									<li class="bullet-item"><span class="color-prim">인터넷 사용 기록 삭제</span> 선택</li>
									<li class="bullet-item">삭제 기간 <span class="color-prim">전체 기간 선택</span> > <span class="color-prim">데이터 삭제</span> > 완료</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="accordion-group card solid">
						<div class="accordion-container open">
							<div class="accordion-header" role="button">
								<span class="txt-title">
									삼성 브라우저
								</span>
								<span class="img-box ico-toggle">
									<img src="../../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
								</span>
							</div>
							<div class="accordion-content">
								<ul class="bullet-list">
									<li class="bullet-item"><span class="color-prim">설정</span> > <span class="color-prim">애플리케이션</span> > <span class="color-prim">삼성 인터넷</span> 선택</li>
									<li class="bullet-item">삼성 인터넷 설정 > <span class="color-prim">인터넷 사용 기록</span> > <span class="color-prim">데이터 삭제</span> > 완료</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="accordion-group card solid">
						<div class="accordion-container open ">
							<div class="accordion-header" role="button">
								<span class="txt-title">
									사파리(Safari) 브라우저
								</span>
								<span class="img-box ico-toggle">
									<img src="../../../static/images/icon/ic-chips-arrow-gray.svg" alt="">
								</span>
							</div>
							<div class="accordion-content">
								<ul class="bullet-list">
									<li class="bullet-item"><span class="color-prim">설정</span> > 앱 > <span class="color-prim">사파리</span>로 이동</li>
									<li class="bullet-item"><span class="color-prim">방문 기록 및 웹사이트 데이터 지우기</span> 선택</li>
									<li class="bullet-item"><span class="color-prim">모든 방문 기록, 모든 탭 닫기</span>선택</li>
									<li class="bullet-item"><span class="color-prim">방문 기록 지우기</span> > 완료</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- //container -->
</div>

</body>

</html>
